{% extends "base.html" %}
{% block content %}

<div class="profile_page">
    
        <div class = "rotation-fromareas_info" style = "margin: 70px 0 70px 82px;"> 

            <span>
                <a class = "hover_a" href="/FAQ">Регистрация</a>
            </span>
            <span> 
                <img class = "img_black" src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
                <img class = "img_white" src="{{ url_for('static', filename='img/icon_arroy_dark.png')}}" alt="">
            </span>
            <span> 
                <a>Как зарегистрироваться юридическому лицу?</a>
            </span>
        </div>

    <div class="faq_question_info">
    
    </div>
</div>



<script>

</script>
{% endblock %}

