@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html{
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:aliceblue;
    color: rgb(0, 0, 0);
}

body.dark-mode {
    background-color: #333; 
    color: #fff; 
}

input:-webkit-autofill{
    -webkit-text-fill-color: rgb(0, 0, 0);
    caret-color: rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
}

input:focus{
    outline: none ;
}

button:focus{
    outline: none;
}

select:focus{
    outline: none;
}

.blue_button{
    font-size: 14px;
    align-items: center;
    border:none;
    background-color: #028dff;
    color: white;
    width: 270px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.blue_button:hover{
    background-color:#0072cf;
}
  
.blue_button:focus {
    outline: none;
}


/*----------them----------------------*/

.theme-toggle {
    cursor: pointer;
    margin-left: 40px;
}

.theme-img {
    width: 27px;
    height: 27px;
}

.dark-mode .theme-img.light-mode {
    display: none;
}

.light-mode .theme-img.dark-mode {
    display: none;
}
/*--------------------------------*/


/*--------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-weight: 500;
}

.dark-mode header {
    background-color: #252525;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}

header .center-content nav {
    cursor: pointer;
    font-size: 17px;
    margin: 15px auto; 
    max-width: 600px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
}

header .center-content nav ul {
    margin: 0 20px;
}

header .center-content nav ul li {
    margin: 0 20px; 
    transition: color 0.3s ease;
}

header .center-content nav ul li:hover {
    color: #61b8ff; 
    
}

header .right-content nav ul li {
    margin: 0 50px 0 20px; 
}

main {
    width: 100%;
    min-height: 100vb;
}

.hoverPanel {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    right: 0; 
    padding: 10px;
}

.dark-mode .hoverPanel {
    background-color:#252525;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}


.user-container {
    position: relative;
    display: inline-block;
}

.user-container img{
    width: 30px;
    height: auto;
    cursor: pointer;
}

.user-container .icon_white{
    display:none;
}

.dark-mode .icon_white{
    display:block;
}

.user-container .icon_black{
    display:block;
}

.dark-mode .icon_black{
    display:none;
}

.user-container:hover .hoverPanel,
.hoverPanel:hover {
    display: block;
}

.hoverPanel button {
    border: none;
    background-color: white;
    color: black;
    width: 200px;
    font-size: 14px;
    padding: 10px 20px;
    text-align: start;
    align-items: start;
    cursor: pointer;
}


.dark-mode .hoverPanel_account,
.dark-mode .hoverPanel_logout{
    background-color:  #252525;
    color: rgb(255, 255, 255);
}

.hoverPanel button:focus {
    outline: none;   
}

.hoverPanel button:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(221, 221, 221);
}

.dark-mode .hoverPanel_account:hover,
.dark-mode .hoverPanel_logout:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(29, 29, 29);
}




footer {
    margin-top: 500px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #61b8ff;
    width: 100%;
    font-weight: 500;
}
  
.footer_cont{
    display: flex; 
    margin: 10px;
}

.footer_cont .left_col_footer,
.center_col_footer,
.right_col_footer{
    display: flex;
    margin: 15px;
    min-width: 400px;
    max-width: 500px;
}

.footer_cont nav ul li{
    list-style-type:  none;
    cursor: pointer;
}

.footer_cont .left_col_footer{
    justify-content: center;
}

.footer_cont .left_col_footer nav ul li:hover{
    color:black;
    transition: color 0.3s ease;
}

.footer_cont .center_col_footer{
    margin-bottom: 15px;
    font-size: 14px;
}

.footer_cont .center_col_footer nav ul li{
    margin-bottom: 15px;
}

.footer_cont .right_col_footer{
    display:flex;
    flex-direction: column;
}

.footer_cont .right_col_footer nav{

    height: auto;
}

.footer_cont .right_col_footer .telephone_info{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer_cont .right_col_footer nav ul li:hover{
    color: black;
    transition: color 0.3s ease;
}

/*-----------------------mes*/
.custom-alert {  
    position: fixed;
    bottom: 40px;
    right: 40px; 
    max-width: 400px; 
    font-size: 16px;
    padding: 20px 30px;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.5s ease;
    border: none;
    border-radius: 10px;
    font-weight: 500;    
    color: #000000;
    border: none;
    background-color: rgb(255, 255, 255); 
    font-family: 'Montserrat';
    border: 1px solid rgb(132,132,132);
}
  
.custom-alert.hidden {
    opacity: 0;
}

.alert-danger {

    
}
  
.alert-success {

}
/*-----------------------mes end*/


/*log and reg begin */
.page_log_reg{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.log_reg_form {
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column;
    text-align: left;
    width: min-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 25px;
    border-radius: 10px;
}

.dark-mode .log_reg_form {
    background-color:  #252525;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}

.link_cont{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    padding: 20px 0 50px 50px ;
    cursor: pointer;
}

.link_cont a{
    margin: 0;   
    font-weight: bold;
    font-size: 15px;
}

.link_cont a:hover{
    color: #028dff;
    transition: color 0.3s ease;
}

.link_cont .active{
    color: #61b8ff;
}

.aftorization_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.registration_data{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.organization_data{
    margin-left: 12px;
}

.aftorization_data input,
.persone_data input,
.organization_data input{
    width: 280px;
    height: 20px;
    margin: 10px 0;
    border: none; 
    border-bottom: 1px solid rgb(202, 202, 202);
    color: black;
    padding: 5px 20px;
    outline: none;
    z-index: 2;
    font-size: 15px;
}

.dark-mode .aftorization_data input,
.dark-mode .persone_data input,
.dark-mode .organization_data input{
    background-color:  #252525; 
    border-bottom: 1px solid rgb(202, 202, 202);
    color: rgb(255, 255, 255);

}

.log_reg_form .remember_cont {
    border: none;
    text-align: left; 
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 0;
}

.log_reg_form .remember_cont input[type = 'checkbox']{
    margin-right: 10px;
    cursor: pointer;
}

.log_buttons_area{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.log_reg_form button{
    margin-top: 10px;
    padding: 5px 20px;
    width: 300px;
    height: 34px;
    cursor: pointer;
}

.log_reg_form .forgot_cont{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.log_reg_form .forgot_cont a{
    color: rgb(131, 131, 131);
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 500;
    transition: 0.3ms ;
    transition: color 0.3s ease;
}

.log_reg_form .forgot_cont a:hover{
    color: black;
}

.dark-mode .forgot_cont a:hover{
    color: rgb(255, 255, 255);
}

.google_cont button{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(202, 202, 202);
    color: black;
    margin: 30px 0 0  0;
    height: 40px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

/**/

/**/

/**/

/**/

/*log_reg_fp.css end*/





/*beginPage.css begin*/
.hello_cont{
    padding: 60px 30px ;
    height: 100vh;
}

.hello_cont .main_cont{
    display:flex;
    justify-content: space-between;
}

.hello_cont .main_cont .text_main_cont{
    display:flex;
    flex-direction: column;
    font-size: 50px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
    padding: 40px 0 0 0;
    color: transparent;
    animation: fadeInText 1s ease forwards;
}

.dark-mode .hello_cont .main_cont .text_main_cont{
    animation: fadeInTextwhite 1s ease forwards;
}

@keyframes fadeInText {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
        color:black;
    }
}

@keyframes fadeInTextwhite {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
        color:rgb(255, 255, 255);
    }
}


.hello_cont .main_cont .gif_cont{
    padding-right: 15%;
}

.hello_cont button{
    margin: 300px 0 0 0;
    height: 50px;
    width: 260px;
    color: rgb(255, 255, 255);
    background-color: #61b8ff;
    z-index: 1;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 16px;
}

.hello_cont button:hover{
    background-color: #028dff;
    transition: background-color 0.3s ease;
}

.hello_cont button:focus{
    outline: none;
}

/* Контейнер с количеством пользователей, организац...*/

.statistic_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    background-color: white;  
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
}

.statistic_cont .item_stat {
    display: inline-block;
    text-align: center;
    margin: 25px;
}

.statistic_cont .item_stat div{
    font-size: 19px;    
    color: #40a9ff;    
    font-weight: 600;
}

.statistic_cont .item_stat .stat_count{
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 400;

}
.statistic_cont .item_stat img{
    width: 44px; 
    height: 44px;
    margin: 5px;
}

/* Контейнер с количеством пользователей, организац... eeeeennddd*/

/* Новости */

.cont_news_main_page{
    min-height: 60vb;
    background-color :#61b8ff;
    display:flex;
    justify-content: center;
    text-align: center;
}

.cont_news_main_page .white_news_cont{
    background-color: white;
    color:black;
    min-width: 1400px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.name_news_text{
    color:black;
    font-weight: 500;
    font-size: 20px;
}

.heading_news_text{
    color:black;
    font-weight: 600;
    font-size: 24px;
}

.news_text{
    color:black;
    font-weight: 400;
    font-size: 23px;
}

.cont_news_main_page .white_news_cont .left_news_cont{
    min-width: 700px;
}

.cont_news_main_page .white_news_cont .right_news_cont{
    min-width: 700px;
}

/* Новости end*/

/* какой-то конт*/

.cont_admin_main_page{
    min-height: 60vb;
    background-color :#ffffff;
    display:flex;
    justify-content: center;
    text-align: center;    
}


/* какой-то конт end */
/* map */

.cont_map{
    background-color :#ffffff;
    display:flex;
    justify-content: center;
    text-align: center;
}

.cont_map iframe{
    width: 100%; 
    border: none;
}

/* map end*/

/**/
/**/

/**/
/**/
/*beginPage.css end*/






/*account.css begin*/
.account_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
  
.account_cont .privetstvie_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 110px;
    width: 1024px;
    background-image: url('../img/begin_name1.png');
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
}
  
.account_cont .account_functions{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    width: 100%;
    justify-content: center;
}

.account_cont .account_functions .account_links{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 10%;
}
  

.account_buttons{
    display: flex;
    flex-direction: row;
    align-items:  center;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 474px;
    height: 82px;
    font-weight: 600;
    border-radius: 10px;
    margin: 15px 7px 0px 7px;
    padding: 0 20px;
    font-size: 15px;
    transition: color 0.3s ease;
}

.dark-mode .account_buttons{
    color: white;
    background-color:  #252525;      
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}
  
.account_buttons:hover{
    background-color: #f0f9ff;
    transition: background-color 0.3s ease;
}

.dark-mode .account_buttons:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(29, 29, 29);
}
  
.account_buttons:focus {
    outline: none;
}
  
.account_buttons img{
    width: 36px;
    margin: 0 40px 0 0;
}
  
.account_buttons span{
    text-align: center;
}

.account_cont .account_functions .account_messages{
    display: flex;
    flex-direction: column;
}

.account_message_button{
    display: flex;
    flex-direction: row;
    align-items:  center;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 474px;
    height: 52px;
    font-weight: 600;
    border-radius: 0;
    margin: 15px 0 0 0;
    padding: 0 20px;
    font-size: 15px;
    transition: color 0.3s ease;
}

.dark-mode .account_message_button{
    color: white;
    background-color:  #252525;      
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}
  
.account_message_button:hover{
    background-color: #f0f9ff;
    transition: background-color 0.3s ease;
}

.dark-mode .account_message_button:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(29, 29, 29);
}
  
.account_message_button:focus {
    outline: none;
}
  
.account_message_button img{
    width: 36px;
    margin: 0 40px 0 0;
}
  
.account_message_button span{
    text-align: center;
}


.message_cont{
    width: 100%;
    height: auto;
    max-height: 280px; 
    overflow-y: auto; 
}
  
.message_cont::-webkit-scrollbar {
    width: 5px; 
}
  
.message_cont::-webkit-scrollbar-thumb {
    background-color:rgb(131, 131, 131); 
    border-radius: 5px;
}

.message_cont::-webkit-scrollbar-track {
    background-color: #000000;
}


.message_cont .mes{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #333333;
}


.message_cont .mes .time_mes{
    font-size: 14px;
    color: rgb(134, 134, 134);
    padding-bottom: 3px;
}


.message_cont .mes .text_mes{
    font-size: 16px;
    color:#00ca00;

}

/*account.css end*/






/*profile_common.css begin*/
.profile_page{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    color: rgb(0, 0, 0);
    width: 100%;
    align-items: flex-start;
}

/*profil_header*/
.profile_page .profile_navigation {
    position: fixed;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px 0;
    border-radius: 10px;
    margin-left: 20px;
    color: black;
}

.dark-mode	.profile_navigation {
    background-color:  #252525; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    color: white;
}

.profile_page .profile_navigation li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px 60px;
    margin: 7px 0;
    height: 100%;
    font-weight: 500;  
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.profile_page .profile_navigation li:hover {
    background-color: rgb(236, 236, 236);
}

.dark-mode .profile_page .profile_navigation li:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(29, 29, 29);
}

.profile_page .profile_navigation li.active_li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15%; 
    transform: translateX(-50%); 
    width: 3px;
    border: none;
    height: 100%; 
    background-color: #028dff; 
}

/*profil_header end*/

/*panel begin*/
.profile_page .personal-info_area{
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    top: 0;
    color: black;

}

.dark-mode .personal-info_area{
    color: rgb(255, 255, 255);
}

.profile_page .personal-info_area table, 
.profile_page .personal-info_area tr, 
.profile_page .personal-info_area td{
    border: none;
}

.profile_page .personal-info_area table tr td{
    width: 100%;
}  

.profile_page .personal-info_area table tr td{
    height: 100%;
    text-align: left;
    padding: 0;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
}  

.profile_page .personal-info_area td input{
    width: 500px;
    font-size: 14px;
    margin-left: 50px;
    padding: 0 10px;
    height: 40px;    
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    color: black;
    background-color:rgb(255, 255, 255);
}

/* .dark-mode .profile_page .personal-info_area td input{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
} */

.profile_page .personal-info_area form {
    text-align: right;
}

.profile_page .personal-info_area form button{
    width: 200px;
}
/*panel end*/
/*profile.css end*/








/*report_area.css begin*/
.report-area_page{
    margin-top: 60px;
    height: 100vh;
}

.report-area_menu{
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: 500;
    top: 0;
    left: 0;
}

.report-area_menu-name {
    padding: 5px 10px;
    margin: 0;    
    display: inline-block;    
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.report-area_podmenu input[type="radio"] { 
    display: none; 
}

.report-area_menu-input:checked + .report-area_menu-name {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 7px 15px;
    color: rgb(0, 0, 0);
}

.dark-mode .report-area_menu-input:checked +  .report-area_menu-name {
    background-color: #252525;
    color: white;
    font-size: 16px;
    padding: 7px 15px;
}


.content-podmenu {
    position: absolute;
    padding: 0 10px;
    display: none;
    left: 0;
    right: 0;
}

.report-area_podmenu :checked + .report-area_menu-name {
    position: relative; 
    top: 1px; 
    border-radius: 5px 5px 0 0;
    z-index: 1;
}

.report-area_podmenu :checked ~ .content-podmenu {
    display: block;
}

.content-podmenu nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.content-podmenu nav ul section{
    display: flex;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-size: 13px;
    padding: 5px;
}

.dark-mode .content-podmenu nav ul section {
    background-color:  #252525;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    color: white;
}   

.functions_menu{
    display: flex; 
    flex-direction: row;
}


.content-podmenu nav ul li{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 7px;
    align-items: center;
    text-align: center;
    max-width: 65px;    
    padding: 11px;
}

.functions_menu .active{
    border-radius: 5px;
    border: none;
    background-color: #95f8f3;
}

.dark-mode .functions_menu .active{
    background-color: #457270;
}

.content-podmenu nav ul li:hover{
    background-color:aliceblue;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}

.dark-mode .content-podmenu nav ul li:hover{
    background-color:rgb(138, 144, 150);
}


.content-podmenu nav ul li img{
    height: 40px;
    width: auto;
}

.content-podmenu nav ul li a{
    font-size: 12px;
}

/*---------------menu_report_area end*/

/*---------------report-area*/
.white-panel {
    padding: 5px;
    background-color: white;
    border: 1px solid #3333;
    border-radius: 5px;
    z-index: 999; 
    display: none; 
    position: absolute;
    flex-direction: column;
}

.dark-mode .white-panel {
    background-color: #4d4d4d;    
    border: 1px solid rgb(150, 150, 150);
}

.dark-mode .white-panel hr{
    background-color: white;
}


.white-panel button {
    display: flex;   
    font-size: 13px;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    text-align: left;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.dark-mode .white-panel button {
    background-color: #4d4d4d;
    color: white;
}

.dark-mode .white-panel button:disabled{
    background-color: #4d4d4d;
    color: rgb(132,132,132);
}

.white-panel button:hover {
    background-color: #e0e0e0;
}

.rotation-fromareas{
    margin-top: 150px;
}

.rotation-fromareas nav ul {
    display: flex;
    flex-direction: row;
    color: black;   
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
}

.rotation-fromareas nav ul li {
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center; 
    font-weight: 500;
    display: flex; 
    margin: 0 7px;
    height: 100%; 
    color: rgb(0, 0, 0);
}

.dark-mode .rotation-fromareas nav ul li {
    color: rgb(255, 255, 255);
}

.rotation-fromareas nav ul li img {
    width:15px;
    height: 15px;   
    display: block; 
    margin: auto;
}

.linkto_report:hover {
    color: #61b8ff;
    transition: color 0.3s ease;
    cursor: pointer;
}


.dark-mode .linkto_report:hover {
    color: #61b8ff;
    transition: color 0.3s ease;
    cursor: pointer;
}

.report-area {
    margin-top: 20px;
    margin-bottom: 5px;    
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.report-area::-webkit-scrollbar {
    height: 3px;
}

.report-area::-webkit-scrollbar-thumb {
    background-color:rgb(221, 221, 221); 
    border-radius: 5px;
}

.report-area::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.table_report-area {
    border: none;
    width: auto;
    background-color: #ffffff;
    font-size: 12px;
    table-layout: fixed;  
    flex-grow: 1;
    border-spacing: 0px;
    border-collapse: collapse;
}     

.dark-mode .table_report-area {
    background-color: #4d4d4d;
}     

.table_report-area .order-table_titels tr th:last-child {
    width: 100%;
    padding: 0;
    margin: 0;
}

.table_report-area thead{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.dark-mode .table_report-area thead{
    background-color:  #252525;
    color: rgb(204, 204, 204);
}


.table_report-area input{            
    font-size: 12px;  
    font-weight: 500;   
    width: 100%;
    border: none;
    text-align: left;
    

}

.dark-mode .table_report-area input{            
    background-color: #4d4d4d;
    color: white;
}


.fuel-main_parapetrs td,
.fuel-main_parapetrs td input{
    background-color: #ddfdfb;
}

.fuel-main_parapetrs td:first-child{
    background-color: #ffffff;
}

.fuel-main_parapetrs td input{
    width: 100%;    
}

.table_report-area tr th{
    border: 1px solid #dddddd;
    padding: 5px 20px;
    text-align: center;             
    font-size: 12px;
}

.table_report-area tr td{

    padding: 5px 10px;
    text-align: left;             
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #dddddd;
}

.dark-mode .table_report-area tr th,
.dark-mode .table_report-area tr td{
    border: 1px solid #616161;
}




/*-----------------vers*/
.versions_row .vers_cont {
    padding: 10px 40px; 
    background-color: aliceblue;
    border: none;
}

.dark-mode .versions_row .vers_cont {
    background-color: #333;
    color: white;
}

.text_vers{
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
    text-align: left;
}

.dark-mode .text_vers{
    color: white;
}

.table-versions{

    font-size: 12px;
    table-layout: fixed;  
    flex-grow: 1;
    
    background-color: #ffffff;
    border-collapse: collapse;    
    border: none;
}

.dark-mode .table-versions{
    background-color: #4d4d4d;;
}

.table-versions tr th,
.table-versions tr td{
    border: 1px solid #dddddd;
    padding: 5px 10px;
    text-align: center;             
    font-size: 12px;
}

.show-versins_button{
    border: none;
    color: white;
    background-color: #61b8ff;
    padding: 1px 6px;
    margin: 5px;
}

.show-versins_button:focus{
    outline: none;
}

/*-----------------vers end*/
/*-----------------ticket begin*/

.check-row{
    display: none;
    border: none; 
    background-color: aliceblue; 
    padding: 10px 40px;
}

.dark-mode .check-row{
    background-color:#333; 
}

.check-row .check_cont{
    background-color: aliceblue; 
    padding: 10px 40px;
    border: none; 
}

.dark-mode .check-row .check_cont{
    background-color:#333;
}

.text_cheks{
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
    text-align: left;
}

.dark-mode .text_cheks{
    color: white;
}

.cheks_table{
    border: none;
    font-size: 12px;
    table-layout: fixed;  
    flex-grow: 1;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: white;
}

.cheks_table thead{
    text-align: center;
    color: rgb(14, 0, 71);
    font-weight: 600;
}

.cheks_table tr th,
.cheks_table tr td{
    border: 1px solid #dddddd;
    padding: 5px 10px;
    text-align: center;             
    font-size: 12px;
}

.show-cheks_button{
    z-index: 2;
    border: 1px solid white;
    color: white;
    background-color: #61b8ff;
    padding:  1px 6px;
    margin: 5px;
}

.show-cheks_button:focus{
    outline: none;
}

/*-----------------ticket end*/
/*-----------------change input*/
.change_input_row {
    display: none;
}
/*-----------------change input end*/


.report_row,
.report_row td,
.report_row td input {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

/*active-report*/
.active-report,
.active-input,
.active-report_version{
    background-color:rgb(218, 255, 250);
}

.dark-mode .active-report,
.dark-mode .active-input,
.dark-mode .active-report_version{
    background-color:rgb(92, 121, 117);
}
/*active-report end*/


/* .report_row:hover,
.report_row:hover,
.version-row:hover{
    background-color: rgb(247, 247, 247);
}

.dark-mode .report_row:hover,
.dark-mode .report_row:hover,
.dark-mode .version-row:hover{
    background-color: rgb(105, 105, 105);
} */


/* ----------------------modal_window begin */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 15% auto;    
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    width: fit-content;
    height:fit-content;
    max-height: 500px;
    max-width: 900px;
}

.modal-content form{
    text-align: right;
}

.dark-mode .modal-content {
    background-color:#333;
    border: 1px solid #333;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    text-align: end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*end */



/*spravochniki begin*/
.modal-content .spravochniki_area {
    margin-top: 10px;
    max-height: 400px;
    max-width: 100%;
    overflow-y: auto; 
    border: none;
    font-size: 12px;
    table-layout: fixed;  
    flex-grow: 1;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: white;
    border: none;
}

.spravochniki_area::-webkit-scrollbar {
    width: 7px;
}

.spravochniki_area::-webkit-scrollbar-thumb {
    background-color:rgb(221, 221, 221); 
    border-radius: 5px;
}

.spravochniki_area::-webkit-scrollbar-track {
    background-color:rgb(255, 255, 255);
}

/* .modal-content .spravochniki_area thead{
    position: fixed;
    background-color: white;
    width: fit-content;

} */
/*end */





/*fuel page begin*/
/*add fuel modal*/


.fuel_row,
.fuel_row td,
.fuel_row td input {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}



.fuel-table_add{
    width: 100%; 
    margin-top: 20px;
}

.fuel-table_add td{
    height: 34px;
    font-size: 12px; 
    font-weight: 500;   
    text-align: left;
}

.fuel-table_add input{
    height: 26px;  
    width: 100px;
    padding: 0 10px;
    margin-right: 20px;
    text-align: right;
    font-size: 12px; 
    border-radius: 5px;
    border: 1px solid rgb(220, 238, 255);
    font-weight: 500; 
}

.fuel-table_add input:required-invalid{
    border: 2px solid red;
}

.fuel-table_add span{
    font-weight: 600;
}

.choose-product_area {
    position: absolute;
    max-width: 422px;
    max-height: 250px; 
    overflow-y: auto; 
    background-color: white;
    border: none; 
    z-index: 2; 
    display: none;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.choose-product_table{
    border: none;
    font-size: 10px;
    table-layout: fixed;  
    flex-grow: 1;
    border-spacing: 0px;
    border-collapse: collapse;    
    text-align: center;
    align-items: center;
}

.choose-product_table thead{
    text-align: center;
    align-items: center;
    color: rgb(14, 0, 71);
    font-weight: 600;
    background-color: aliceblue;
}

.choose-product_table tr th,
.choose-product_table tr td{
    border: 1px solid #dddddd;
    padding: 2px 10px;
    text-align: center;             
    font-size: 12px;
}

.choose-product_table tr:hover{
    background-color: #f0f0f0;
}

.fuel-submit{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin: 3px 20px 0 0;
    width: 180px;
    height: 35px;
}

/*fuel page end*/

/*change report modal*/
.change-report_table{
    width: 100%; 
    margin-top: 20px;
}

.change-report_table td{
    height: 34px;
    font-size: 12px; 
    font-weight: 500;   
    text-align: left;
}

.change-report_table input{
    height: 26px;  
    width: 100px;
    padding: 0 10px;
    margin: 0 20px;
    text-align: right;
    font-size: 12px; 
    border-radius: 5px;
    border: 1px solid rgb(220, 238, 255);
    font-weight: 500; 
}

.report-submit{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin: 3px 20px 0 0;
    width: 180px;
    height: 35px;
}
/*change report end*/
/*report.css end*/


