@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html{
    margin: 0;
    width: 100%;
    height: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
}
  
html::-webkit-scrollbar-track {
   
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d8d6d6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:rgb(238, 246, 253);
    color: rgb(0, 0, 0);
}

body.dark-mode {
    background-color: #333; 
    color: #fff; 
}

:root {
    --color1: rgb(238, 246, 253);
    --color2: rgba(0, 128, 255, 0.6);
    --color3: rgb(216, 236, 255);

    --color4: #333;
    --color5: rgb(61, 185, 171);
    --color6: #444444;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(80px);
    animation: gradient-animation 15s ease infinite;
    background: linear-gradient(615deg, var(--color1), var(--color2), var(--color3));    
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

.dark-mode .blurred-background {
    background: linear-gradient(615deg, var(--color4), var(--color5), var(--color6));
    animation: gradient-animation-dark 15s ease infinite;  
    opacity: 1;
}

@keyframes gradient-animation {
    0% {
        background: linear-gradient(615deg, var(--color1), var(--color2), var(--color3));
        opacity: 1;
    }
    50% {
        background: linear-gradient(615deg, var(--color1), var(--color2), var(--color3));
        opacity: 0.6;
    }
    100% {
        background: linear-gradient(615deg, var(--color1), var(--color2), var(--color3));
        opacity: 1;
    }
}

@keyframes gradient-animation-dark {
    0% {
        background: linear-gradient(615deg, var(--color4), var(--color5), var(--color6));
        opacity: 1;
    }
    50% {
        background: linear-gradient(615deg, var(--color4), var(--color5), var(--color6));
        opacity: 0.6;
    }
    100% {
        background: linear-gradient(615deg, var(--color4), var(--color5), var(--color6));
        opacity: 1;
    }
}

input:focus,
button:focus,
select:focus{
    outline: none ;
}

input[type = "checkbox"]:disabled{
    background-color: #028dff;
}

input::-webkit-input-placeholder {  color: rgb(56, 56, 56); }
.dark-mode input::-webkit-input-placeholder {  color: rgb(255, 255, 255); }

.blue_button{
    font-size: 14px;
    align-items: center;
    background-color: #028dff;
    color: white;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.blue_button:hover{
    transition: background-color 0.3s ease;   
    background-color:#0072cf;
}
  
.dark-mode .blue_button{
    background-color:rgb(0, 158, 140);
}

.dark-mode .blue_button:hover{
    transition: background-color 0.3s ease;   
    background-color:rgb(41, 109, 101);
}

/*----------them----------------------*/
.theme-toggle {
    cursor: pointer;
    margin-left: 40px;
}

.theme-img {
    width: 27px;
    height: 27px;
}

.dark-mode .theme-img.light-mode {
    display: none;
}

.light-mode .theme-img.dark-mode {
    display: none;
}
/*--------------------------------*/


/*--------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* color: white; */
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    font-weight: 500;
    transition: background-color 0.5s ease;  
}

.dark-mode header{
    color: white;
}

header .center-content nav {
    cursor: pointer;
    font-size: 17px;
    margin: 15px auto; 
    max-width: 600px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
}

header .center-content nav ul {
    margin: 0 20px;
}

header .center-content nav ul li {
    margin: 0 20px; 
    transition: color 0.3s ease;
}

header .center-content nav ul li:hover {
    color: #61b8ff; 
    
}

.dark-mode header .center-content nav ul li:hover {
    color: rgb(43, 236, 214); 
}

header .right-content nav ul li {
    margin: 0 50px 0 20px; 
}

main {
    width: 100%;
    min-height: 100vb;
}

.hoverPanel {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    right: 0; 
    padding: 10px;
}

.dark-mode .hoverPanel {
    background-color:#252525;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1); 
}


.user-container {
    position: relative;
    display: inline-block;
}

.user-container img{
    width: 30px;
    height: auto;
    cursor: pointer;
}

.user-container .icon_white{
    display:none;
}

.dark-mode .icon_white{
    display:block;
}

.user-container .icon_black{
    display:block;
}

.dark-mode .icon_black{
    display:none;
}

.user-container:hover .hoverPanel,
.hoverPanel:hover {
    display: block;
}

.hoverPanel button {
    border: none;
    background-color: white;
    color: black;
    width: 200px;
    font-size: 14px;
    padding: 10px 20px;
    text-align: start;
    align-items: start;
    cursor: pointer;
}


.dark-mode .hoverPanel_account,
.dark-mode .hoverPanel_logout{
    background-color:  #252525;
    color: rgb(255, 255, 255);
}

.hoverPanel button:focus {
    outline: none;   
}

.hoverPanel button:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(221, 221, 221);
}

.dark-mode .hoverPanel_account:hover,
.dark-mode .hoverPanel_logout:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(29, 29, 29);
}


footer {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-top: 1px solid rgb(132,132,132);
    /* backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2); */
    width: 100%;
    font-weight: 500;
}
  
.dark-mode footer {
    background-color: #333;
}

.footer_cont{
    display: flex; 
    margin: 10px;
}

.footer_cont .left_col_footer,
.center_col_footer,
.right_col_footer{
    display: flex;
    margin: 15px;
    min-width: 400px;
    max-width: 500px;
}

.footer_cont nav ul li{
    list-style-type:  none;
    cursor: pointer;
}

.footer_cont .left_col_footer{
    justify-content: center;
}

.footer_cont .left_col_footer nav ul li:hover{
    color:black;
    transition: color 0.3s ease;
}

.footer_cont .center_col_footer{
    margin-bottom: 15px;
    font-size: 14px;
}

.footer_cont .center_col_footer nav ul li{
    margin-bottom: 15px;
}

.footer_cont .right_col_footer{
    display:flex;
    flex-direction: column;
}

.footer_cont .right_col_footer nav{

    height: auto;
}

.footer_cont .right_col_footer .telephone_info{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer_cont .right_col_footer nav ul li:hover{
    color: black;
    transition: color 0.3s ease;
}

/*-----------------------mes*/
.custom-alert {
    position: fixed;
    bottom: 40px;
    right: -500px;
    max-width: 400px;

    font-size: 16px;
    padding: 20px 30px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s ease, right 0.5s ease;
    border-radius: 10px;
    color: #ffffff;
    border: 0;
    overflow: hidden;
}

.custom-alert.show {
    right: 40px;
    opacity: 1;
}

.custom-alert.hidden {
    opacity: 0; 
}

.custom-alert p {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding-bottom: 7px;
}

.notif-progress {
    width: 0;
    height: 10px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 5px;
    left: 3%;
    border-radius: 12px;
    animation: runProgress-mes 2.7s linear forwards;
}

@keyframes runProgress-mes {
    0% { width: 0%; }
    100% { width: 94%; }
}

.alert-danger {
    background: #cf0000;
}

.alert-success {
    background: #00B16A;
}
/*-----------------------mes end*/


/*log and reg begin */
.page_log_reg{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.log_reg_form {
    /* background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
    display: flex; 
    flex-direction: column;
    text-align: left;
    width: min-content;
    padding: 25px;
    border-radius: 10px;
}

.link_cont{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    padding: 20px 0 50px 50px ;
    cursor: pointer;
}

.link_cont a{
    margin: 0;   
    font-weight: bold;
    font-size: 15px;
}

.link_cont a:hover{
    color: #028dff;
    transition: color 0.3s ease;
}

.dark-mode .link_cont a:hover{
    color: rgb(0, 112, 99);
    transition: color 0.3s ease;
}


.link_cont .active{
    color: #028dff;
}

.dark-mode .link_cont .active{
    color: rgb(0, 112, 99);
}

.aftorization_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.registration_data{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.organization_data{
    margin-left: 12px;
}



.aftorization_data input,
.persone_data input,
.organization_data input{
    background: rgba(255, 255, 255, 0);
    width: 280px;
    height: 20px;
    margin: 10px 0;
    border: none; 
    border-bottom: 1px solid rgb(56, 56, 56); 
    color: black;
    padding: 5px 20px;
    outline: none;
    z-index: 2;
    font-size: 15px;
}

.dark-mode .aftorization_data input,
.dark-mode .persone_data input,
.dark-mode .organization_data input{
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);

}

.log_reg_form .remember_cont {
    border: none;
    text-align: left; 
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 0;
}

.remember_cont input[type='checkbox'] {
    margin: 0 10px;
    appearance: none; 
    width: 14px; 
    height: 14px; 
    border-radius: 50%;
    border: 1px solid rgb(134, 134, 134);
    background-color: rgb(255, 255, 255); 
    cursor: pointer;
    transition: background-color 0.3s ease;  
    vertical-align: middle;
}

.remember_cont input[type='checkbox']:checked  {
    background-color: #007bff; 
    border: 1px solid rgb(134, 134, 134);
}

.dark-mode .remember_cont input[type='checkbox']:checked  {
    background-color: rgb(0, 158, 140);
    border: 1px solid rgb(134, 134, 134);
}


.log_buttons_area{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.log_reg_form button{
    margin-top: 10px;
    padding: 5px 20px;
    width: 300px;
    height: 34px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.log_reg_form .forgot_cont{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.log_reg_form .forgot_cont a{
    color: rgb(131, 131, 131);
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 500;
    transition: 0.3ms ;
    transition: color 0.3s ease;
}

.log_reg_form .forgot_cont a:hover{
    color: black;
}

.dark-mode .forgot_cont a:hover{
    color: rgb(255, 255, 255);
}

/*log_reg_fp.css end*/




/*beginPage.css begin*/
.hello_cont {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
  }
  
.hello_cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1; 
}

.hello_cont video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    object-fit: cover;
    z-index: -100;
}
  
.hello_cont_name{
    font-size: 45px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
    padding: 110px 40px 40px 40px;
    color: transparent;    
    z-index: 2;
    animation: fadeInTextwhite 1s ease forwards;
}
  
@keyframes fadeInTextwhite {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
        color:rgb(255, 255, 255);
    }
}

.hello_cont button{
    margin: 300px  0 0 40px;
    height: 50px;
    width: 260px;
    color: rgb(255, 255, 255);
    z-index: 1;
    padding: 0 30px;
    font-size: 16px;
    z-index: 22;
}

/* Контейнер с количеством пользователей, организац...*/
.statistic_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: aliceblue;
    white-space: nowrap;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
}

.dark-mode .statistic_cont {
    background-color:#333;
    color: white;
}

.statistic_cont .item_stat {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 25px;
}

.statistic_cont .item_stat .item_statName{
    font-size: 19px;    
    color: #028dff;   
    font-weight: 600;
}

.dark-mode .statistic_cont .item_statName{
    color: rgb(78, 177, 165);
}

.statistic_cont .item_stat .stat_count{
 
    font-size: 32px;
    font-weight: 400;

}
.statistic_cont .item_stat img{
    width: 44px; 
    height: 44px;
    margin: 10px;
}
/* Контейнер с количеством пользователей, организац... end*/

/* Новости */

.cont_news_main_page{
    min-height: 60vb;
    background-color: #028dff;
    display:flex;
    justify-content: center;
    text-align: center;
}

.dark-mode .cont_news_main_page {
    background-color:rgb(84, 146, 139);
}


.cont_news_main_page .white_news_cont{
    background-color: aliceblue;
    min-width: 1400px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.dark-mode .white_news_cont{
    background-color: #333;
    color:rgb(255, 255, 255);
}

.name_news_text{
    font-weight: 500;
    font-size: 20px;
}

.heading_news_text{
    font-weight: 600;
    font-size: 24px;
}

.news_text{
   
    font-weight: 400;
    font-size: 23px;
}

.cont_news_main_page .white_news_cont .left_news_cont{
    min-width: 700px;
}

.cont_news_main_page .white_news_cont .right_news_cont{
    min-width: 700px;
}
/* Новости end*/

/*beginPage.css end*/






/*account.css begin*/
.account_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
  
.account_cont .privetstvie_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 110px;
    width: 1024px;
    background-image: url('../img/begin_name1.png');
    text-shadow: 1px 1px 2px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    font-weight: 600;
}
  
.account_cont .account_functions{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    width: 100%;
    justify-content: center;
}

.account_cont .account_functions .account_links{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 10%;
}

.account_buttons{
    display: flex;
    flex-direction: row;
    align-items:  center;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 474px;
    height: 82px;
    font-weight: 600;
    border-radius: 10px;
    margin: 15px 7px 12px 7px;
    padding: 0 20px;
    font-size: 15px;
    transition: color 0.3s ease;
}

.dark-mode .account_buttons{
    color: white;
    background-color:  #252525;      
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1); 
}
  
.account_buttons:hover{
    background-color: #c4e8ff;

    transition: background-color 0.3s ease;
}

.dark-mode .account_buttons:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(29, 29, 29);
}
  
.account_buttons:focus {
    outline: none;
}
  
.account_buttons img{
    width: 36px;
    margin: 0 40px 0 0;
}
  
.account_buttons span{
    text-align: center;
}

.account_cont .account_functions .account_messages{
    display: flex;
    flex-direction: column;
}

.account_messageArea{
    display: flex;
    flex-direction: row;
    align-items:  center;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 474px;
    height: 52px;
    font-weight: 600;
    border-radius: 0;
    margin: 15px 0 0 0;
    padding: 0 20px;
    font-size: 15px;
    transition: color 0.3s ease;
}

.dark-mode .account_messageArea{
    color: white;
    background-color:  #252525;      
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1); 
}

.account_messageArea img{
    width: 36px;
    margin: 0 40px 0 0;
}
  
.account_messageArea span{
    text-align: center;
}

.message_cont{
    width: 100%;
    height: auto;
    max-height: 280px; 
    overflow-y: auto; 
}
  
.message_cont::-webkit-scrollbar {
    width: 5px; 
}
  
.message_cont::-webkit-scrollbar-thumb {
    background-color:rgb(131, 131, 131); 
    border-radius: 5px;
}

.message_cont::-webkit-scrollbar-track {
    background-color: aliceblue;
}

.dark-mode .message_cont::-webkit-scrollbar-track {
    background-color: #000000;
}

.message_cont .mes{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #dfdfdf;
}

.dark-mode .message_cont .mes{
    background-color:  #252525;

    border-bottom: 2px solid #333333;
}

.message_cont .mes .time_mes{
    font-size: 14px;
    color: rgb(134, 134, 134);
    padding-bottom: 3px;
}

.message_cont .mes .text_mes{
    font-size: 16px;
    color:#00ca00;

}

/*account.css end*/





/*profile_common.css begin*/
.profile_page{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    color: rgb(0, 0, 0);
    width: 100%;
    align-items: flex-start;
}

/*profil_header*/
.profile_page .profile_navigation {
    position: fixed;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px 0;
    border-radius: 10px;
    margin-left: 20px;
    color: black;
}

.dark-mode	.profile_navigation {
    background-color:  #252525; 
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1); 
    color: white;
}

.profile_page .profile_navigation li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px 60px;
    margin: 7px 0;
    height: 100%;
    font-weight: 500;  
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.profile_page .profile_navigation li:hover {
    background-color: rgb(236, 236, 236);
}

.dark-mode .profile_page .profile_navigation li:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(29, 29, 29);
}

.profile_page .profile_navigation li.active_li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15%; 
    transform: translateX(-50%); 
    width: 3px;
    border: none;
    height: 100%; 
    background-color: #028dff; 
}


.dark-mode .profile_page .profile_navigation li.active_li::before {
    background-color: rgb(43, 236, 214); 
}

/*profil_header end*/

/*panel begin*/
.profile_page .personal-info_area{
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    top: 0;
    color: black;

}

.dark-mode .personal-info_area{
    color: rgb(255, 255, 255);
}

.profile_page .personal-info_area table, 
.profile_page .personal-info_area tr, 
.profile_page .personal-info_area td{
    border: none;
}

.profile_page .personal-info_area table tr td{
    width: 100%;
}  

.profile_page .personal-info_area table tr td{
    height: 100%;
    text-align: left;
    padding: 0;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
}  

.profile_page .personal-info_area td input{
    width: 500px;
    font-size: 14px;
    margin-left: 50px;
    padding: 0 15px;
    height: 40px;    
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    background-color:rgb(255, 255, 255);
    font-weight: 500;
}

.dark-mode .profile_page .personal-info_area td input{
    color: rgb(255, 255, 255);
    background-color:#4d4d4d;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
}


.profile_page .personal-info_area form {
    text-align: right;
}

.profile_page .personal-info_area form button{
    width: 200px;
}
/*panel end*/
/*profile.css end*/




/*report_area.css begin*/
.report-area_page{
    margin-top: 60px;
    height: 100vh;
}

.report-area_menu{
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: 500;
    top: 0;
    left: 0;
}

.report-area_menu-name {
    padding: 5px 10px;
    margin: 0;    
    display: inline-block;    
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.report-area_podmenu input[type="radio"] { 
    display: none; 
}

.report-area_menu-input:checked + .report-area_menu-name {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 7px 15px;
    color: rgb(0, 0, 0);
}

.dark-mode .report-area_menu-input:checked +  .report-area_menu-name {
    background-color: #252525;
    color: white;
    font-size: 16px;
    padding: 7px 15px;
}


.content-podmenu {
    position: absolute;
    padding: 0 10px;
    display: none;
    left: 0;
    right: 0;
}

.report-area_podmenu :checked + .report-area_menu-name {
    position: relative; 
    top: 1px; 
    border-radius: 5px 5px 0 0;
    z-index: 1;
}

.report-area_podmenu :checked ~ .content-podmenu {
    display: block;
}

.content-podmenu nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.content-podmenu nav ul section{
    display: flex;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-size: 13px;
    padding: 5px;
}

.dark-mode .content-podmenu nav ul section {
    background-color:  #252525;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1); 
    color: white;
}   

.functions_menu{
    display: flex; 
    flex-direction: row;
}

.functions_menu_name{
    font-weight: 600;
    font-family: 13px;
    margin-bottom: 3px;
}

.content-podmenu nav ul li{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 7px;
    align-items: center;
    text-align: center;
    width: 65px;    
    padding: 15px;
    cursor: pointer;
}



.activefunctions_menu{
    border-radius: 5px;
    border: none;
    background-color:#c4e8ff;
    
}

.dark-mode .activefunctions_menu{
    background-color: #457270;
}

.content-podmenu nav ul li:hover{
    background-color:#c4e8ff;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}

.dark-mode .content-podmenu nav ul li:hover{
    background-color:#457270;
}


.content-podmenu nav ul li img{
    height: 40px;
    width: auto;
}

.content-podmenu nav ul li a{
    font-size: 13px;
    padding-top: 2px;
}

/*---------------menu_report_area end*/

/*---------------report-area*/
.white-panel {
    padding: 5px;
    background-color: white;
    border: 1px solid #3333;
    border-radius: 5px;
    z-index: 999; 
    display: none; 
    position: absolute;
    flex-direction: column;
}

.dark-mode .white-panel {
    background-color: #4d4d4d;    
    border: 1px solid rgb(150, 150, 150);
}

.dark-mode .white-panel hr{
    background-color: white;
}

.white-panel button {
    display: flex;   
    font-size: 13px;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    text-align: left;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    width: 100%;
}

.dark-mode .white-panel button {
    background-color: #4d4d4d;
    color: white;

}

.dark-mode .white-panel button:disabled{
    background-color: #4d4d4d;
    color: rgb(132,132,132);
}

.white-panel button:hover {
    background-color: #e0e0e0;
}

.dark-mode .white-panel button:hover {
    background-color: rgb(59, 59, 59);
}

.rotation-fromareas{
    margin-top: 160px;
}

.rotation-fromareas nav ul {
    display: flex;
    flex-direction: row;
    color: black;   
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
}

.rotation-fromareas nav ul li {
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center; 
    font-weight: 500;
    display: flex; 
    margin: 0 7px;
    height: 100%; 
    color: rgb(0, 0, 0);
}

.dark-mode .rotation-fromareas nav ul li {
    color: rgb(255, 255, 255);
}

.rotation-fromareas nav ul li img {
    width:15px;
    height: 15px;   
    margin: auto;
}

.icon_arroy{
    display: block;
}

.dark-mode .icon_arroy{
    display: none;
}

.icon_arroy_dark{
    display: none; 
}

.dark-mode .icon_arroy_dark{
    display: block; 
}

.linkto_report:hover {
    color: #61b8ff;
    transition: color 0.3s ease;
    cursor: pointer;
}

.dark-mode .linkto_report:hover {
    color: rgb(43, 236, 214); 
    transition: color 0.3s ease;
    cursor: pointer;
}


.report-area {
    margin-top: 20px;
    margin-bottom: 5px;    
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.report-area::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.report-area::-webkit-scrollbar-thumb {
    background-color:rgb(221, 221, 221); 
    border-radius: 5px;
}


.table_report-area {
    border: none;
    width: auto;
    background-color: #ffffff;
    font-size: 12px;
    display: block;
    border-spacing: 0px;
    border-collapse: collapse;

    height: 100%;
}
 
.dark-mode .table_report-area {
    background-color: #4d4d4d;
}    

.order-table_titels {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.dark-mode .order-table_titels {
    background-color:  #252525;
    color: rgb(204, 204, 204);
}

.order-table_titels tr th:first-child {
    width: 0;
}

.order-table_titels tr th:nth-child(2) {
    width: 0;
}

.order-table_titels tr th:last-child {
    width: 0;
}

.order-table_titels tr th {
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    position: relative;
    min-width: min-content;
    border: 1px solid #dddddd;

}


th.resizable {
    position: relative;	
}

th .resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
}

.table_report-area input {            
    font-size: 12px;  
    font-weight: 500;  
    width: 100%;
    border: none;
    text-align: left;
    background: none;
    color: #000000;
    box-sizing: border-box;
    min-width: min-content;

}

.dark-mode .table_report-area input{            
    background-color: #4d4d4d;
    color: rgb(255, 255, 255);
}

.table_report-area tr td{
    padding: 5px 10px;
    text-align: left;             
    font-size: 12px;
    border: 1px solid #dddddd;
}

.dark-mode .table_report-area tr th,
.dark-mode .table_report-area tr td{
    border: 1px solid #616161;
}

/*-----------------vers*/
.versions_row {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.versions_row.show {
    display: table-row;
    opacity: 1;
}

.versions_row .vers_cont {
    padding: 10px 40px; 
    background-color: aliceblue;

}

.dark-mode .versions_row .vers_cont {
    background-color: #333;
    color: white;
}

.text_vers{
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
    text-align: left;
}

.dark-mode .text_vers{
    color: white;
}

.table-versions{
    font-size: 12px;
    table-layout: fixed;  
    flex-grow: 1;
    background-color: #ffffff;
    border-collapse: collapse;    
}

.dark-mode .table-versions{
    background-color: #4d4d4d;;
}

.show-versions_button{
    display: flex;
    justify-content: center;
    border: none;
    color: white;
    padding: 2px 6px;
    /* background-color: #028dff; */
    background-color: #00000000;
    cursor: pointer;
    transition: background-color 0.3s ease;   
    text-align: center;
    align-items: center;
}

.show-versions_button img{
    width: 15px;
    transform: rotate(45deg);
    transition: transform 0.5s;
}

.show-versions_button img.rotated {
    transform: rotate(-90deg);
}

.show-versions_button:hover{
    /* background-color:#0072cf; */
}

.dark-mode .show-versions_button{
    /* background-color:rgb(84, 146, 139); */
}

.dark-mode .show-versions_button:hover{
    /* background-color:rgb(69, 105, 101); */
}

/*-----------------vers end*/
/*-----------------ticket begin*/

.check_row {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check_row.show {
    display: table-row;
    opacity: 1;
}

.dark-mode .check_row{
    background-color:#333; 
}

.check_cont{
    background-color: aliceblue; 
    border: none;
}

.dark-mode .check_cont{
    background-color:#333;
}

.text_cheks{
    padding: 5px 0 5px 30px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.cheks_table{
    margin: 0 0 10px 30px;
    font-size: 12px;
    table-layout: fixed;  
    flex-grow: 1;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: white;    
    border: none;
}

.dark-mode .cheks_table{
    background-color: #4d4d4d;
}

.show-cheks_button{
    display: flex;
    justify-content: center;
    border: none;
    color: white;
    padding: 2px 6px;
    /* background-color: #028dff; */
    background-color: #00000000;
    cursor: pointer;
    transition: background-color 0.3s ease;   
    text-align: center;
    align-items: center;
}

.close_white{
    display: none;
}

.close_black{
    display: block;
}

.dark-mode .close_white{
    display: block;
}

.dark-mode .close_black{
    display: none;
}

.show-cheks_button img{
    width: 15px;
    transform: rotate(45deg);
    transition: transform 0.5s;
}

.show-cheks_button img.rotated {
    transform: rotate(-90deg);
}

/*-----------------ticket end*/
/*-----------------change input*/

.change_input_row {
    display: none;
}

/*-----------------change input end*/

.report_row,
.report_row td,
.report_row td input {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

.version-row,
.version-row td,
.version-row td input {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

.check-row,
.check-row td,
.check-row td input {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}


/*active-report*/
.active-report,
.active-input,
.active-report_version{
    background-color:#def0ff;
}

.dark-mode .active-report,
.dark-mode .active-input,
.dark-mode .active-report_version{
    background-color:rgb(86, 112, 110);
}
/*active-report end*/




/*change report modal*/
.change-report_table{
    width: 100%; 
    margin-top: 20px;
}

.change-report_table td{
    height: 34px;
    font-size: 12px; 
    font-weight: 500;   
    text-align: left;
}

.change-report_table input{
    height: 26px;  
    width: 100px;
    padding: 0 10px;
    margin: 0 20px;
    text-align: right;
    font-size: 12px; 
    border-radius: 5px;
    border: 1px solid rgb(220, 238, 255);
    font-weight: 500; 
}

.change-report_table select{
    height: 26px;  
    width: 122px;
    margin: 0 20px;
    text-align: right;
    font-size: 12px; 
    border-radius: 5px;
    border: 1px solid rgb(220, 238, 255);
    font-weight: 500; 
}

.change-report_table select option{
    font-weight: 500; 
}

/*change report end*/
/*report.css end*/

/* ----------------------modal_window begin */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 15% auto;    
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    width: fit-content;
    height:fit-content;
    max-height: 500px;
    max-width: 900px;
    position: relative;
}

.modal-content form{
    text-align: right;
}

.modal-content button{
    font-size: 14px;
    margin: 0;
    margin: 5px 20px 0 20px;
    width: 200px;
    height: 35px;
}

.dark-mode .modal-content {
    background-color:#333;
    border: 1px solid #333;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.change-position{
    cursor: move;
}

.close {
    color: #aaa;
    float: right;
    text-align: end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*end */


/*spravochniki begin*/
.modal-content .spravochniki_area {
    margin-top: 10px;
    max-height: 400px;
    width: 100%;
    overflow-y: auto; 
    overflow-x: auto; 
    border: none;
    font-size: 12px;
    table-layout: fixed;  
    flex-grow: 1;
    border-spacing: 0px;
    border-collapse: collapse;
    border: none;
    background-color:#ffffff;
}

.dark-mode .modal-content .spravochniki_area {
    background-color:#4d4d4d;
}

.spravochniki_area::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
  
.spravochniki_area::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(224, 224, 224, 0.253) inset;
}

.spravochniki_area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d8d6d6;
}
/*end */





/*sections page begin*/
.fuel_row,
.fuel_row td,
.fuel_row td input {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}

.sectionsModal-table{
    width: 100%; 
    margin-top: 20px;
}

.sectionsModal-table td{
    height: 34px;
    font-size: 12px; 
    font-weight: 500;   
    text-align: left;
}

.sectionsModal-table input{
    height: 26px;  
    width: 100px;
    padding: 0 10px;
    margin-right: 20px;
    text-align: right;
    font-size: 12px; 
    border-radius: 5px;
    border: 1px solid rgb(220, 238, 255);
    font-weight: 500; 
}

.sectionsModal-table input:required-invalid{
    border: 2px solid red;
}

.sectionsModal-table span{
    font-weight: 600;
}

.choose-product_area {
    position: absolute;
    margin-top: 7px;
    max-width: 422px;
    background-color: white;
    border: none; 
    z-index: 2; 
    display: none;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .choose-product_area {
    background-color: #333;
}

.serchProduct_cont{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

.choose-product_area .table_report-area thead {
    width: 100%;
}

.choose-product_area .table_report-area tbody {
    width: 100%;
}

.table_body_container {
    max-height: 200px; 
    overflow-y: auto;
}

.table_body_container::-webkit-scrollbar {
    width: 7px;
}
  
.table_body_container::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}

.table_body_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d8d6d6;
}

.search_product_input{
    margin: 10px;
    width: 180px;
}

.sectionsModal-table .table_report-area tr:hover{
    background-color: #ebebeb;
}

.dark-mode .sectionsModal-table .table_report-area tr:hover{
    background-color: #6e6e6e;
}

.choose-product_area input{
    max-width: 422px;
  
}

.choose-product_area button{
    font-size: 12px;
    margin: 3px 20px 0 0;
    width: 180px;
    height: 35px;
}

/*sections page end*/




