{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}

<div class = "account_cont">
    <div class = "privetstvie_cont">
        <a>Добро пожаловать, {{user.fio}}</a>
    </div>
    <div class = "account_functions">
        <div class = "account_links">

            {%if user.type == 'Администратор' or user.type == 'Респондент'%}
                <button class = "account_buttons" {%if user.type == 'Аудитор'%} onclick="window.location.href='/audit_area'"{%else%} onclick="window.location.href='/report_area'"{%endif%}>
                    <img src="{{ url_for('static', filename='img/icon_reports.png')}}"  alt="">
                    <span>Отчеты</span>
                </button>
                <button class = "buttons_account_add_report" onclick="window.location.href='/report_area'" type="" class = "">
                    <span style = "font-size: 20px;">+</span>
                    <span>Добавить отчет</span>
                </button>
            {%else%}
            {%endif%}

            {%if user.type == 'Администратор' or user.type == 'Аудитор'%}
                <button class = "account_buttons" onclick="window.location.href='/audit_area'">
                    <img src="{{ url_for('static', filename='img/audit_icon.png')}}"  alt="">
                    <span>Аудит</span>
                </button>
            {%else%}
            {%endif%}

            <button class = "account_buttons" onclick="window.location.href='/profile/common'">
                <img src="{{ url_for('static', filename='img/icon_profile.png')}}"  alt="">
                <span>Мой профиль</span>
            </button>

            {%if user.type == 'Администратор'%}
                <button class = "account_buttons" onclick="window.location.href='/admin'">
                    <img src="{{ url_for('static', filename='img/icon_admin-panel.png')}}"  alt="">
                    <span>Админ-панель</span>
                </button>
            {%else%}
            {%endif%}



        </div>
        <div class = "account_messages">
            <div class = "account_messageArea">
                <img src="{{ url_for('static', filename='img/icon_message.png')}}"  alt="">
                <span>Сообщения</span>
            </div>
            <div class = "message_cont">
                {% if messages %}
                    {% for row in messages %}
                    <div class = "mes">
                        <div class = "time_mes">{{row.create_time}}</div>
                        <div class = "text_mes">{{row.text}}</div>
                    </div>
                    {%endfor%}
                {%else%} 
                <div class = "mes">
                    <a class = "text_mes">Нет сообщений</a>
                </div>
                {%endif%} 
            </div>
        </div>
    </div>
</div>
{% endblock %}