{% extends "base.html" %}
{% block title %}audit Electro{% endblock %}
{% block content %}
<div class = "report-area_page">
    <div class = "report-area_menu">
        <div class="report-area_podmenu">
            <input type="radio" id="tab1" name="tab-group" class = "report-area_menu-input" checked>
            <label for="tab1" class="report-area_menu-name">Панель управления</label> 
            <div class="content-podmenu">
                <nav>
                    <ul>            
                        <section>    
                            <div class = "functions_menu">
                                <li >
                                    <img src="{{ url_for('static', filename='img/icon_new_file.png')}}" alt="">
                                    <a>Добавить</a>
                                </li>
                            </div>
                            <a class="functions_menu_name">
                                Коммент.
                            </a>
                        </section>
                        <section>
                            <div class = "functions_menu">                         
                                <li id = "RespondentLink">           
                                    <img src="{{ url_for('static', filename='img/icon_profile.png')}}" alt="">
                                    <a>Респондент</a>   
                                </li>  
                                <li>           
                                    <img src="{{ url_for('static', filename='img/komments.png')}}" alt="">
                                    <a>Коммент.</a>   
                                </li>
                            </div>  
                            <a class="functions_menu_name">
                                Доп. информация
                            </a>
                        </section>
                        <section>
                            <div class = "functions_menu">
                                <li onclick="window.location.href='/audit/fuel/{{current_version.id}}'">         
                                    <img src="{{ url_for('static', filename='img/Toplivo.png')}}" alt="">
                                    <a>Топливо</a>   
                                </li>
                                <li onclick="window.location.href='/audit/heat/{{current_version.id}}'">                      
                                    <img src="{{ url_for('static', filename='img/Teplo.png')}}" alt="">
                                    <a>Тепло</a>
                                </li>

                                <li onclick="window.location.href='/audit/electro/{{current_version.id}}'"  class = "activefunctions_menu">           
                                    <img src="{{ url_for('static', filename='img/Electro.png')}}" alt="">
                                    <a>Электро</a>   
                                </li>  
                            </div>
                            <a class="functions_menu_name">
                                Раздел
                            </a>
                        </section>
                        <section>
                            <div class = "functions_menu">  
                                <form style = "display: none;" id = "export-table-form" action="/export_table" method="post">
                                    <input type = "hidden" name = "version_id" value = "{{current_version.id}}" readonly>
                                    <input type = "hidden" name = "numb_section" value = "3" readonly>
                                </form>
                                <li id = "export-table-btn">           
                                    <img src="{{ url_for('static', filename='img/icon_excel.png')}}" alt="">
                                    <a>Экспорт</a>   
                                </li>                         
                                <li onclick="sortTable()">           
                                    <img src="{{ url_for('static', filename='img/icon_sort.png')}}" alt="">
                                    <a>Сортировка</a>   
                                </li>  
                            </div>  
                            <a class="functions_menu_name">
                                Таблица
                            </a>
                        </section>
                    </ul>
                </nav>
            </div>
        </div> 
        <div class="report-area_podmenu">
            <input type="radio" id="tab2" name="tab-group" class = "report-area_menu-input">
            <label for="tab2" class="report-area_menu-name">Справка</label>
            <div class="content-podmenu">
                <nav>
                    <ul>
                        <section>
                            <div class="functions_menu">
                                <li id="DirUnitLink">
                                    <img src="{{ url_for('static', filename='img/icon_UOM.png') }}" alt="">
                                    <a>Единицы измерения</a>
                                </li>
                                <li id="DirProductLink">
                                    <img src="{{ url_for('static', filename='img/icons_TOP.png') }}" alt="">
                                    <a>Виды продукции</a>
                                </li>
                            </div>
                            <div>
                            </div>
                        </section>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class = "rotation-fromareas">
        <nav>
            <ul>
                <li onclick="window.location.href='/audit/not_viewed'" class = "linkto_report">
                    Просмотр отчетов
                </li>
                <li>
                    <img class = "icon_arroy" src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
                    <img class = "icon_arroy_dark" src="{{ url_for('static', filename='img/icon_arroy_dark.png')}}" alt="">
                </li>
                <li>Электричество ({{curent_report.id}}, {{current_version.id}})</li> 
            </ul>
            <ul>
                <li>
                    <a class = "dop_version_info">ОКПО: "{{curent_report.okpo}}", 
                    УНП: "{{curent_report.organization_name.ynp}}", 
                    Название предприятия: "{{curent_report.organization_name}}", 
                    Год: {{curent_report.year}}, 
                    Квартал: {{curent_report.quarter}} </a>
                </li> 
            </ul>
        </nav>
    </div>

    <div class = "report-area">
        <table class = "table_report-area">
            <thead class="order-table_titels">
                <tr>
                    <th class="resizable" rowspan="2"></th>
                    <th class="resizable" style="white-space: nowrap;" rowspan="2">Наименование вида продукции (работ услуг)<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Код строки<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Код по ОКЭД<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Единица измерения<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Произведено продукции (работ, услуг) за отчетный период<div class="resizer"></div></th>
                    <th class="resizable" colspan="2">Израсходовано на единицу продукции (работы, услуги) за отчетный период, кВтч<div class="resizer"></div></th>
                    <th class="resizable" colspan="3">Израсходовано на всю произведенную продукцию (работу, услугу) за отчетный период, тыс.кВтч<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Примечание<div class="resizer"></div></th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable">Экономия(-), перерасход(+)<div class="resizer"></div></th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th></th>
                    <th class="resizable">A<div class="resizer"></div></th>
                    <th class="resizable">Б<div class="resizer"></div></th>
                    <th class="resizable">В<div class="resizer"></div></th>
                    <th class="resizable">Г<div class="resizer"></div></th>
                    <th class="resizable">1<div class="resizer"></div></th>
                    <th class="resizable">2<div class="resizer"></div></th>
                    <th class="resizable">3<div class="resizer"></div></th>
                    <th class="resizable">4<div class="resizer"></div></th>
                    <th class="resizable">5<div class="resizer"></div></th>
                    <th class="resizable">6<div class="resizer"></div></th>
                    <th class="resizable">7<div class="resizer"></div></th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in sections %}
                <tr class = "fuel_row" data-id="{{ row.id }}" >
                    <td>
                        <input type = "hidden" name = "id_fuel" value = "{{ row.id }}" readonly></td>
                    <td>
                        <input class = "product-name_fuel" type = "text" value = "{{ row.product.NameProduct }}" readonly>
                    </td>
                    <td>
                        <input name = "code_product" value = "{{ row.code_product }}" readonly>
                    </td>
                    <td>
                        <input name = "Oked_fuel" value = "{{ row.Oked }}" readonly>
                    </td>
                    <td> 
                        <input style = "white-space: nowrap; text-align: left;" name = "" value = "{{ row.product.unit.NameUnit }}" readonly>
                    </td> 
                    <td>
                        <input name = "produced_fuel" value = "{{ row.produced }}" readonly>
                    </td>
                    <td>
                        <input name = "Consumed_Quota_fuel" value = "{{ row.Consumed_Quota }}" readonly>
                    </td>
                    <td>
                        <input name = "Consumed_Fact_fuel" value = "{{ row.Consumed_Fact }}" readonly>
                    </td>
                    <td>
                        <input name = "Consumed_Total_Quota_fuel" value = "{{ row.Consumed_Total_Quota }}" readonly>
                    </td>
                    <td>     
                        <input name = "Consumed_Total_Fact_fuel" value = "{{ row.Consumed_Total_Fact }}" readonly>
                    </td>
                    {% if row.total_differents is not none and (row.total_differents < 0.0 or row.total_differents == 0.00) %}
                        <td style="background-color: #a2ff77;">
                            <input style="background-color: #a2ff77; color: black;" name="row_total_differents"  value="{{ row.total_differents }}" readonly>
                        </td>
                    {%else%}
                        <td style="background-color: #ff7676;">
                            <input style="background-color: #ff7676; color: black;" name="row_total_differents"  value="{{ row.total_differents }}" readonly>
                        </td>
                    {%endif%}
                    <td> 
                        <input name = "note_fuel" value = "{{ row.note }}" readonly>
                    </td>           
                </tr>   
                {%endfor%}
            </tbody>
        </table>        
    </div>
</div>


<div id="DirUnitModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class = "change-position">Единицы измерения</h3>
            <a class="close" id = "CloseDirUnit">&times;</a>
        </div>
        <div class="spravochniki_area">
            <table class="table_report-area">
                <thead class="order-table_titels">
                    <tr>  
                        <th class="resizable" style = "white-space: nowrap;">Код единицы измерения<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Название единицы измерения<div class="resizer"></div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dirUnit %}
                    <tr>
                        <td style="text-align: left;">
                            <input type = "text" value = "{{ row.CodeUnit }}" readonly>
                        </td>
                        <td style="text-align: left;">
                            <input type = "text" value = "{{ row.NameUnit }}" readonly>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="DirProductModal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Виды продукции</h3>
            <a class="close" id = "CloseDirProduct">&times;</a>
        </div>
        <div class="spravochniki_area">
            <table class="table_report-area" style = "width: 100%;">
                <thead class="order-table_titels">
                    <tr>
                        <th class="resizable" style = "white-space: nowrap;">Код продукции<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Наименование продукции<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Топливо<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Тепловая<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Электричество<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Код единицы измерения<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Дата начала<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Дата окончания<div class="resizer"></div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dirProduct %}
                    <tr>
                        <td>{{ row.CodeProduct }}</td>
                        <td>
                            {{ row.NameProduct }}
                        </td> 
                        <td>
                            <input type="checkbox" name="control" {% if row.IsFuel %} checked {% endif %} disabled>
                        </td>
                        <td>
                            <input type="checkbox" name="control" {% if row.IsHeat %} checked {% endif %} disabled>
                        </td>
                        <td>
                            <input type="checkbox" name="control" {% if row.IsElectro %} checked {% endif %} disabled>
                        </td>
                        <td>{{ row.IdUnit }}</td>
                        <td>
                            {% if row.DateStart %}
                            {{ row.DateStart }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if row.DateEnd %}
                            {{ row.DateEnd }}
                            {% else %}
                        
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="RespondentModal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Респондент</h3>
            <a class="close" id = "CloseRespondent">&times;</a>
        </div>
        <div class="spravochniki_area">
            <table class = "sectionsModal-table">
                <tr>
                    <td>Респондент</td>
                    <td>    
                        <input 
                            type="text" 
                            value = "{{current_version.fio}}"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>Номер телефона</td>
                    <td>
                        <input                 
                            type="text"
                            value = "{{current_version.telephone}}"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>
                        <input                 
                            type="text"
                            value = "{{current_version.email}}"
                            readonly
                        >
                    </td>
                </tr>
            </table>       
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/audit_section.js') }}"></script>
{% endblock %}