{% extends "base.html" %}
{% block title %}Проверка отчетов{% endblock %}
{% block content %}

<div class="audit-area_page">
    <nav class = "audit_navigation ">
        <li class="active_li" onclick="window.location.href=''">
            Не просмотренные
        </li>
        <li onclick="window.location.href=''">
            Замечания
        </li>
        <li onclick="window.location.href=''">
            Для загрузки
        </li>
        <li onclick="window.location.href=''">
            Для удаления
        </li>
    </nav>
    <div class="audit-area">
        <table class="table_report-area">
            <thead class="order-table_titels">
                <tr>
                    <th></th>
                    <th class="resizable">ОКПО<div class="resizer"></div></th>
                    <th class="resizable" style="white-space: nowrap;">Наименование предприятия<div class="resizer"></div></th>
                    <th class="resizable">Год<div class="resizer"></div></th>
                    <th class="resizable">Квартал<div class="resizer"></div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%if report%}
                    {% for row in report %}
                    <tr class="report_row" data-id="{{ row.id }}">
                        <td></td>
                        <td style = "display: none;">
                            <input type = "text" id = "report_id" value = "{{ row.id }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_okpo" value = "{{ row.okpo }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_organization_name" value = "{{ row.organization_name }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_year" value = "{{ row.year }}" readonly>
                        </td>
                        <td>
                            <input type = "text" id = "report_quarter" value = "{{ row.quarter }}" readonly>
                        </td>
                        <td>

                        </td>
                    </tr>
                    {% endfor %}
            {%else%}
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="5">
                        <input type = "text" value = "Отчеты отсутствуют" readonly>
                    </td>
                </tr>
            {%endif%}
            </tbody>
        </table>

    </div>
</div>




<script>

</script>
{% endblock %}
