{% extends "base.html" %}
{% block content %}
<div class="blurred-background"></div>
<div class="hellow_row">
    <!-- <video autoplay loop muted>
        <source src="{{ url_for('static', filename='video/    .mp4') }}" type="video/mp4">
    </video> -->
    <div class= "hellow_row_left">
        <div class = "hellow_row_name">
            Информационная система учета и обработки отчетов предприятий
        </div>
        <div class = "hellow_row_dop_name">
            в соответствии с нормативными документами по нормированию расхода топливно-энергетических ресурсов
        </div>
        <div class = "hellow_buttonarea"> 
            {% if current_user.is_authenticated and user.type != 'Аудитор'%}
                <button onclick="window.location.href='/report_area'" type="" class = "main_button">Подать отчет</button>
            {% elif current_user.is_authenticated and user.type == 'Аудитор' %}
                <button onclick="window.location.href='/audit_area'" type="" class = "main_button">Просмотр отчетов</button>        
            {% else %}
                <button onclick="window.location.href='/login'" type="" class = "main_button">Войти</button>
                <button onclick="window.location.href='/sign'" type="" class = "main_button_invizback">Зарегистрироваться</button>
            {% endif %}
        </div>
    </div>    
    <div class= "hellow_row_right">
        <!-- <img src="" alt="hellow"> -->
    </div> 
</div>
<div class="statistics-row">
    <div class = "statistics-row-left">
        <img src="{{ url_for('static', filename='img/stats.jpg')}}" alt="">
    </div>
    <div class = "statistics-row-right">
        <div class="item_stat">  
            <div class = "stat_count">{{organization_data}}</div>
            <a class = "stat_name">предприятий</a>
        </div>

        <div class="item_stat">
            <div class = "stat_count">{{report_data}}</div>
            <a class = "stat_name">отчетов</a>
        </div>

        <div class="item_stat">
            <div class = "stat_count">{{user_data}}</div>
            <a class = "stat_name">респондентов</a>
        </div>
    </div>
</div>

<div class="news-row" id = "news_row">
    <div class = "news-row-left">
        <div class="item_news">  
            <a class = "news_name">Новости</a>
            <p class = "first_p">{{latest_news.title}}</p>
            <p class = "second_p">{{latest_news.text}}</p>
        </div>
    </div>
    <div class = "news-row-right">
        <img src="{{ url_for('static', filename='img/news/' + latest_news.img_name) }}" alt="">
    </div>
</div>
{%if current_user.is_authenticated%}
    <div class="askquestion-row">
        <div class="askquestion_form">
            <div class="news_name">Задайте свой вопрос</div>
            <form action="">
                <input type="text" name="fio" value = "{{current_user.fio}}" readonly>
                <textarea type="text" name="text" placeholder="Опишите проблему" value = ""></textarea>
                <input type="text" name="email" value = "{{current_user.email}}" readonly>
                <input type="text" name="phone" value = "{{current_user.telephone}}" readonly>
                <button type = "submit" class="main_button">Отправить вопрос</button>
            </form>
        </div>
    </div>
{%else%}

{%endif%}
{% endblock %}