{% extends "base.html" %}
{% block title %}Система отчетов{% endblock %}
{% block content %}

    
<div class="hello_cont">
        <!-- <video autoplay loop muted>
            <source src="{{ url_for('static', filename='video/    .mp4') }}" type="video/mp4">
        </video> -->

        <div class = "hello_cont_name">
            Информационная система учета и обработки отчетов предприятий
        </div>
        {% if user.is_authenticated and user.type != 'Аудитор'%}
            <button onclick="window.location.href='/report_area'" type="" class = "blue_button">Подать отчет</button>
        {% elif user.is_authenticated and user.type == 'Аудитор' %}
            <button onclick="window.location.href='/audit/not_viewed'" type="" class = "blue_button">Просмотр отчетов</button>        
        {% else %}
            <button onclick="window.location.href='/login'" type="" class = "blue_button">Войти</button>
        {% endif %}
</div>




<div class="statistic_cont">
    <div class="item_stat">
        <a class = "item_statName">Предприятий</a>
        <img src="{{ url_for('static', filename='img/organization.png')}}" alt="организаций">
        <div class = "stat_count">{{organization_data}}</div>
    </div>
    <div class="item_stat">
        <a class = "item_statName">Отчетов</a>
        <img src="{{ url_for('static', filename='img/icon_reports.png')}}" alt="обращений">
        <div class = "stat_count">{{report_data}}</div>
    </div>
    <div class="item_stat">
        <a class = "item_statName">Респондентов</a>
        <img src="{{ url_for('static', filename='img/people.png')}}" alt="Граждан">
        <div class = "stat_count">{{user_data}}</div>
    </div>
</div>

<div class = "cont_news_main_page">
    <div class = "white_news_cont">
        <div class = "left_news_cont">
            <span class = "name_news_text">Новости</span>
            <div class = "heading_news_text">Заголовок новости</div>
            <div class = "">Текст новости</div>
        </div>
        <div class = "right_news_cont">
            <img src="{{ url_for('static', filename='img/')}}" alt="Картинка новости">
        </div>
    </div>
</div>

{% endblock %}