{% extends "base.html" %}
{% block title %}Система отчетов{% endblock %}
{% block content %}

    
<div class = "hello_cont">
    <div class = "main_cont">
        <div class = "text_main_cont">
            <span>
                Информационная система учета и обработки отчетов организаций
            </span>
            {% if user.is_authenticated%}
                <button onclick="window.location.href='/report_area'" type="" class = "">Подать отчет</button>
            {% else %}
                <button onclick="window.location.href='/login'" type="" class = "">Войти</button>
            {% endif %}
        </div>
        <div class = "gif_cont">
          
        </div>
    </div>
</div>

<div class="statistic_cont">
    <div class="item_stat">
        <div>Предприятий</div>
        <img src="{{ url_for('static', filename='img/organization.png')}}" alt="организаций">
        <div class = "stat_count">111</div>
    </div>
    <div class="item_stat">
        <div>Отчетов</div>
        <img src="{{ url_for('static', filename='img/icon_reports.png')}}" alt="обращений">
        <div class = "stat_count">222</div>
    </div>
    <div class="item_stat">
        <div>Респондентов</div>
        <img src="{{ url_for('static', filename='img/people.png')}}" alt="Граждан">
        <div class = "stat_count">444</div>
    </div>
</div>

<div class = "cont_news_main_page">
    <div class = "white_news_cont">
        <div class = "left_news_cont">
            <span class = "name_news_text">Новости</span>
            <div class = "heading_news_text">Заголовок новости</div>
            <div class = "">Текст новости</div>
        </div>
        <div class = "right_news_cont">
            <img src="{{ url_for('static', filename='img/')}}" alt="Картинка новости">
        </div>
    </div>
</div>

<div class = "cont_admin_main_page">

</div>

<div class = "cont_map">
    <iframe srcв="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.9730443396306!2d27.55992441534424!3d53.91445490599758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf90d8205c97%3A0x1f35562803ee4ab8!2z0YPQuy4g0KHRgtCw0YDQvtCy0LjQu9C10L3RgdC60LDRjyA1NCwg0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0YwgMjIwMDAy!5e0!3m2!1sru!2sby!4v1709240482760!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


{% endblock %}