{% extends "base.html" %}
{% block content %}

<div class="profile_page">
    <div class = "rotation-fromareas">
        <div class = "rotation-fromareas_info" style = "margin: 70px 0 70px 82px;"> 
            <span>
                <a class = "hover_a" href="/">Главная</a>
            </span>
            <span> 
                <img class = "img_black" src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
                <img class = "img_white" src="{{ url_for('static', filename='img/icon_arroy_dark.png')}}" alt="">
            </span>
            <span>
                <a>Часто задаваемые вопросы</a>
            </span>
        </div>
    </div>

    <div class="contener_row">
        <nav class = "menu_profile_audit ">
            <ul id="status-reportList">
                <li class="active_li">
                    ..
                </li>
                <li>..</li>
                <li>..</li>
            </ul>
        </nav>

        <div class="personal-info_area">
            
        </div>
    </div>
</div>
<script>

</script>
{% endblock %}

