{% extends "base.html" %}
{% block content %}
<div class="news_cont">
    <a class="news_cont_title">Новости</a>
    <div></div>
    
    {% if all_news %}
        <div class="latest_news">
            <div class="news_item">
                <img src="{{ url_for('static', filename='img/news/' + all_news[-1].img_name) }}" alt="">
                <div class="news_title_container">
                    <a class="news_title">{{ all_news[-1].title }}</a>
                </div>
                <div class="news_overlay">
                    <a class="news_text">{{ all_news[-1].text }}</a>
                </div>
            </div>
        </div>

        <div class="news_list_scroll">
            {% for i in all_news[:-1] %}
                <div class="news_item small_news_item">
                    <img src="{{ url_for('static', filename='img/news/' + i.img_name) }}" alt="">
                    <div class="news_title_container">
                        <a class="news_title">{{ i.title[:20] }}{% if i.title|length > 20 %}...{% endif %}</a>
                    </div>
                    <div class="news_overlay">
                        <a class="news_text">{{ i.text[:15] }}{% if i.text|length > 15 %}...{% endif %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Новости отсутствуют.</p>
    {% endif %}
</div>
{% endblock %}
