<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 {{error}}</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            background-color: #f8f9fa;
            margin: 0;
            font: 15px / 22px arial, sans-serif;
        }
        .container {
            text-align: left;

            padding: 30px;
     
            
        }

        p {
            font-size: 1em;
            color: #6c757d;
        }

    </style>
</head>
<body>
    <div class="container">
        <p style = "margin: 11px 0 22px; overflow: hidden;"><span style = "font-weight: bold; color: black;">404.</span> That’s an error.</p>
        <p style = "margin: 11px 0 22px; overflow: hidden;"><span style = "color: black;">The requested was not found on this server.</span><br>That’s all we know.</p>
   
        
    </div>
</body>
</html>
