{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}



<div class="profile_page">
    <nav class = "profile_navigation ">
        <li class="active_li" onclick="window.location.href='/profile/common'">
            Общее
        </li>
        <li onclick="window.location.href='/profile/password'">Конфиденциальность</li>
        {% if user.is_authenticated and user.type == 'Admin'%}
        {% endif %}
        <li onclick="window.location.href='/logout'">Выйти</li>
    </nav>
    <div class="personal-info_area">
        <table>
            <tr>
                <td style = "padding-bottom: 94px;">Тип пользователя</div></td>
                <td><input style = "margin-bottom: 80px;" type="text" value="{{user.type}}" readonly></td>
            </tr>
            <tr >
                <td  ><span >E-mail</span></td>
                <td><input type="text" value="{{user.email}}" readonly></td>
            </tr>
            <tr>
                <td>ФИО</td>
                <td><input type="text" value="{{user.fio}}" readonly></td>
            </tr>
            <tr >
                <td style = "padding-bottom: 94px;">Номер телефона</td>
                <td><input style = "margin-bottom: 80px;" type="text" value="{{user.telephone}}" readonly></td>
            </tr>
            <tr>
                <td>Организация</td>
                <td><input type="text" value="{{organization.full_name}}" readonly></td>
            </tr>
            <tr>
                <td>ОКПО</td>
                <td><input type="text" value="{{organization.okpo}}" readonly></td>
            </tr>
            <tr>
                <td>УНП</td>
                <td><input type="text" value="{{organization.ynp}}" readonly></td>
            </tr>
        </table>
    </div>
</div>
<script>


</script>
{% endblock %}

