{% extends "base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}

<div class="profile_page">
    <div class = "rotation-fromareas">
        <div class = "rotation-fromareas_info" style = "margin: 70px 0 70px 82px;"> 
            <span>
                <a class = "hover_a" href="/account">Личный кабинет</a>
            </span>
            <span> 
                <img class = "img_black" src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
                <img class = "img_white" src="{{ url_for('static', filename='img/icon_arroy_dark.png')}}" alt="">
            </span>
            <span>
                <a>Профиль пользователя</a>
            </span>
        </div>
    </div>
    <div class="contener_row">
        <nav class = "audit_navigation">
            <li onclick="window.location.href='/profile/common'">Общее</li>
            <li class="active_li" onclick="window.location.href='/profile/password'">Конфиденциальность</li>
            <li onclick="window.location.href='/logout'">Выйти</li>
        </nav>
        <div class="personal-info_area">
            <form action="/profile/password" method="POST">
                <table>
                    <tr>
                        <td>Старый пароль</td>
                        <td>
                            <input                 
                                type="text"
                                id="old_password"
                                name="old_password"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td>Новый пароль</td>
                        <td>
                            <input                 
                                type="password"
                                id="new_password"
                                name="new_password"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td>Подтверждение пароля</td>
                        <td>
                            <input                 
                                type="password"
                                id="conf_new_password"
                                name="conf_new_password"
                            >
                        </td>
                    </tr>
                </table>                
                <button class = "main_button" type="" class = "">
                    Изменить пароль
                </button>
            </form>
        </div>
    </div>
</div>
<script> 
</script>
{% endblock %}

