{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="profile_page">
    <nav class = "profile_navigation">
        <li onclick="window.location.href='/profile/common'">Общее</li>
        <li class="active_li" onclick="window.location.href='/profile/password'">Конфиденциальность</li>
        {% if user.is_authenticated and user.type == 'Admin'%}
        {% endif %}

        <li onclick="window.location.href='/logout'">Выйти</li>
    </nav>
    <div class="personal-info_area">
        <form action="/profile/password" method="POST">
            <table>
                <tr>
                    <td>Старый пароль</td>
                    <td>
                        <input                 
                            type="text"
                            id="old_password"
                            name="old_password"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Новый пароль</td>
                    <td>
                        <input                 
                            type="text"
                            id="new_password"
                            name="new_password"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Подтверждение пароля</td>
                    <td>
                        <input                 
                            type="text"
                            id="conf_new_password"
                            name="conf_new_password"
                        >
                    </td>
                </tr>
            </table>                
            <button class = "blue_button" type="" class = "">
                Изменить пароль
            </button>
        </form>
    </div>
</div>
<script> 



</script>
{% endblock %}

