{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class = "page_log_reg">
    <form class = "log_reg_form" method="POST">
        <div class = "link_cont">
            <a onclick="window.location.href='/relod_password'">Сброс пароля</a>
        </div>
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Введите свой E-mail"
            />

        <button type="submit" class = "blue_button">Отправить</button>
        

        <hr>

    </form>
</div>
{% endblock %}