{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class = "page_log_reg">
    <form class = "log_reg_form" method="POST">
        <div class = "link_cont">
            <a onclick="window.location.href='/relod_password'">Сброс пароля</a>
        </div>
        <div class = "aftorization_data">
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Введите свой E-mail"
            />
        </div>
        <div class = "log_buttons_area">
            <button type="submit" class = "blue_button">Отправить</button>
            <div class = "forgot_cont">
                <a onclick="window.location.href='/login'">Авторизоваться?</a>
            </div>
        </div>

  

    </form>
</div>
{% endblock %}