{% extends "base.html" %}
{% block title %}Fuel{% endblock %}
{% block content %}
<div class = "report-area_page">
    <div class = "report-area_menu">
        <div class="report-area_podmenu">
            <input type="radio" id="tab1" name="tab-group" class = "report-area_menu-input" checked>
            <label for="tab1" class="report-area_menu-name">Панель управления</label> 
            <div class="content-podmenu">
                <nav>
                    <ul> 
                        <section>    
                            <div class = "functions_menu">
                                <li data-action="link_addSection_modal">
                                    <img src="{{ url_for('static', filename='img/icon_new_file.png')}}" alt="">
                                    <a>Добавить</a>
                                </li>
                            </div>
                            <a class="functions_menu_name">
                                Продукция
                            </a>
                        </section>           
                        <section>
                            <div class = "functions_menu">
                                <li onclick="window.location.href='/report_area/fuel/{{current_version.id}}'" class = "activefunctions_menu">         
                                    <img src="{{ url_for('static', filename='img/Toplivo.png')}}" alt="">
                                    <a>Топливо</a>   
                                </li>
                                <li onclick="window.location.href='/report_area/heat/{{current_version.id}}'">                      
                                    <img src="{{ url_for('static', filename='img/Teplo.png')}}" alt="">
                                    <a>Тепло</a>
                                </li>

                                <li onclick="window.location.href='/report_area/electro/{{current_version.id}}'"  >           
                                    <img src="{{ url_for('static', filename='img/Electro.png')}}" alt="">
                                    <a>Электро</a>   
                                </li>  
                            </div>
                            <a class="functions_menu_name">
                                Раздел
                            </a>
                        </section>
                        <section>
                            <div class = "functions_menu">                         
                                <form style = "display: none;" id = "export-table-form" action="/export_table" method="post">
                                    <input type = "hidden" name = "version_id" value = "{{current_version.id}}" readonly>
                                    <input type = "hidden" name = "numb_section" value = "1" readonly>
                                </form>
                                <li id = "export-table-btn">           
                                    <img src="{{ url_for('static', filename='img/icon_excel.png')}}" alt="">
                                    <a>Экспорт</a>   
                                </li>   
                                <form id="control-report-form" action="/control_version/{{current_version.id}}" method="POST" style="display: none;">
                                </form>
                                <li id="control-report-btn">           
                                    <img src="{{ url_for('static', filename='img/icon_control.png')}}" alt="">
                                    <a>Контроль</a>   
                                </li> 
                            </div>  
                            <a class="functions_menu_name">
                                Версия отчета
                            </a>
                        </section>
                        <section>
                            <div class = "functions_menu">                         
                                <li onclick="sortTable()">           
                                    <img src="{{ url_for('static', filename='img/icon_sort.png')}}" alt="">
                                    <a>Сортировка</a>   
                                </li>  
                            </div>  
                            <a class="functions_menu_name">
                                Таблица
                            </a>
                        </section>
                    </ul>
                </nav>
            </div>
        </div> 
        <div class="report-area_podmenu">
            <input type="radio" id="tab2" name="tab-group" class = "report-area_menu-input">
            <label for="tab2" class="report-area_menu-name">Справка</label>
            <div class="content-podmenu">
                <nav>
                    <ul>
                        <section>
                            <div class="functions_menu">
                                <li id="DirUnitLink">
                                    <img src="{{ url_for('static', filename='img/icon_UOM.png') }}" alt="">
                                    <a>Единицы измерения</a>
                                </li>
                                <li id="DirProductLink">
                                    <img src="{{ url_for('static', filename='img/icons_TOP.png') }}" alt="">
                                    <a>Виды продукции</a>
                                </li>
                            </div>
                            <div>
                            </div>
                        </section>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <div class = "rotation-fromareas" >
        <div class = "rotation-fromareas_info" style = "margin: 160px 0 10px 82px;"> 
            <span>
                <a class = "hover_a" href="/report_area">Отчеты</a>
            </span>
            <span> 
                <img class = "img_black" src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
                <img class = "img_white" src="{{ url_for('static', filename='img/icon_arroy_dark.png')}}" alt="">
            </span>
            <span>
                <a>Топливо ({{curent_report.id}}, {{current_version.id}})</a>
            </span>
            <span>
                <a style = "font-size: 12px;">ОКПО: "{{curent_report.okpo}}", 
                    УНП: "{{curent_report.organization_name.ynp}}", 
                    Наименование предприятия: "{{curent_report.organization_name}}", 
                    Год: {{curent_report.year}}, 
                    Квартал: {{curent_report.quarter}}. </a>
            </span>
        </div>
    </div>

    <div class = "report-area">
        <table class = "table_report-area">
            <thead class="order-table_titels">
                <tr>
                    <th class="resizable" rowspan="2"></th>
                    <th class="resizable" style = "white-space: nowrap;" rowspan="2">Наименование вида продукции (работ услуг)<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2" style = "white-space: nowrap;">Код строки<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2" style = "white-space: nowrap;">Код по ОКЭД<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Единица измерения<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Произведено продукции (работ, услуг) за отчетный период<div class="resizer"></div></th>
                    <th class="resizable" colspan="2">Израсходовано на единицу продукции (работы, услуги) за отчетный период, кг у.т.<div class="resizer"></div></th>
                    <th class="resizable" colspan="3">Израсходовано на всю произведенную продукцию (работу, услугу) за отчетный период, т у.т.<div class="resizer"></div></th>
                    <th class="resizable" rowspan="2">Примечание<div class="resizer"></div></th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable">по утвержденной норме (предельному уровню)<div class="resizer"></div></th>
                    <th class="resizable">фактически<div class="resizer"></div></th>
                    <th class="resizable" style = "width: 80px;">Экономия(-), перерасход(+)<div class="resizer"></div></th> 
                </tr>
                <tr>
                    <th></th>
                    <th class="resizable">A<div class="resizer"></div></th>
                    <th class="resizable">Б<div class="resizer"></div></th>
                    <th class="resizable">В<div class="resizer"></div></th>
                    <th class="resizable">Г<div class="resizer"></div></th>
                    <th class="resizable">1<div class="resizer"></div></th>
                    <th class="resizable">2<div class="resizer"></div></th>
                    <th class="resizable">3<div class="resizer"></div></th>
                    <th class="resizable">4<div class="resizer"></div></th>
                    <th class="resizable">5<div class="resizer"></div></th>
                    <th class="resizable">6<div class="resizer"></div></th>
                    <th class="resizable">7<div class="resizer"></div></th>
                    <th rowspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in sections %}
                <tr class = "section_row" data-id="{{ row.id }}" >
                    <td>
                        <input 
                            type = "hidden" 
                            name = "id_fuel" 
                            value = "{{ row.id }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            class = "product-name_fuel" 
                            type = "text" 
                            value = "{{ row.product.NameProduct }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            name = "code_product" 
                            value = "{{ row.code_product }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            name = "Oked_fuel" 
                            value = "{{ row.Oked }}" 
                            readonly
                        >
                    </td>
                    <td> 
                        <input 
                            style = "white-space: nowrap; text-align: left;" 
                            name = "" 
                            value = "{{ row.product.unit.NameUnit }}" 
                            readonly
                        >
                    </td> 
                    <td>
                        <input 
                            name = "produced_fuel" 
                            value = "{{ row.produced }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            name = "Consumed_Quota_fuel" 
                            value = "{{ row.Consumed_Quota }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            name = "Consumed_Fact_fuel" 
                            value = "{{ row.Consumed_Fact }}" 
                            readonly
                        >
                    </td>
                    <td>
                        <input 
                            name = "Consumed_Total_Quota_fuel" 
                            value = "{{ row.Consumed_Total_Quota }}" 
                            readonly
                        >
                    </td>
                    <td>     
                        <input 
                            name = "Consumed_Total_Fact_fuel" 
                            value = "{{ row.Consumed_Total_Fact }}" 
                            readonly
                        >
                    </td>
                    {% if row.total_differents is not none and (row.total_differents < 0.0 or row.total_differents == 0.00) %}
                        <td style="background-color: #a2ff77;">
                            <input 
                                style="background-color: #a2ff77; color: black;" 
                                name="row_total_differents" 
                                value="{{ row.total_differents }}" 
                                readonly
                            >
                        </td>
                    {%else%}
                        <td style="background-color: #ff7676;">
                            <input 
                                style="background-color: #ff7676; 
                                color: black;" 
                                name="row_total_differents" 
                                value="{{ row.total_differents }}" 
                                readonly
                            >
                        </td>
                    {%endif%}
                    <td> 
                        <input 
                            name = "note_fuel" 
                            value = "{{ row.note }}" 
                            readonly
                        >
                    </td>     
                    <td colspan="2"></td>      
                </tr>   
                {%endfor%}
            </tbody>
        </table>        
    </div>
</div>
<div id="changefuel_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Редактирование продукции</h3>
            <a id = "close_changefuel_modal" class="close">&times;</a>
        </div>
        <form method="POST" action="/change_section">
            <table class="modal_table">
                <tr>
                    <td><span>[A]</span> Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <input 
                            type="text" 
                            name="product_name" 
                            id="modal_product_name" 
                            style="width: 400px; text-align: left; color: rgb(132, 132, 132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[B]</span> ОКЭД</td>
                    <td>
                        <input 
                            type="text" 
                            name="oked" 
                            id="modal_oked" 
                            class = "numericInput" 
                            maxlength="5" 
                            style="color: rgb(132, 132, 132);" 
                            autocomplete="off" 
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[1]</span> Произведено продукции (выполнено работ, услуг) за отчетный период</td>
                    <td>
                        <input
                            type="text" 
                            name="produced" 
                            class = "numeric_dotInput" 
                            id="modal_produced" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[2]</span> Утвержденная норма на единицу продукции</td>
                    <td>
                        <input 
                            type="text"
                            name="Consumed_Quota" 
                            class = "numeric_dotInput" 
                            id="modal_Consumed_Quota" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[3]</span> Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Fact" 
                            id="modal_Consumed_Fact" 
                            style="color: rgb(132, 132, 132);" 
                            class = "numeric_dotInput"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[4]</span> Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Total_Quota" 
                            id="modal_Consumed_Total_Quota" 
                            style="color: rgb(132, 132, 132);" 
                            readonly
                            class = "numeric_dotInput"
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[5]</span> Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input 
                            type="text" 
                            name="Consumed_Total_Fact" 
                            class = "numeric_dotInput" 
                            id="modal_Consumed_Total_Fact" 
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input 
                            style="width: 400px; text-align: left;" 
                            type="text" 
                            name="note" 
                            id="modal_note" 
                            autocomplete="off"
                        >
                        <input 
                            type="hidden" 
                            id="modal_id" 
                            name="id" 
                            readonly
                        >
                        <input 
                            type="hidden" 
                            value="{{ current_version.id }}" 
                            name="current_version"
                            readonly
                        >

                    </td>
                </tr>
            </table>
            <button type="submit" class="blue_button fuel-submit">Изменить</button>
        </form> 
    </div>
</div>
<div id="addSection_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Добавить продукцию</h3>
            <a class="close">&times;</a>
        </div>
        <form method="POST" action="/add_section_param">
            <table class = "modal_table">
                <tr>
                    <td><span>[A]</span> Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <input type="text" name="name_of_product" style = "width: 400px; text-align: left;" readonly>
                        <div class="choose-product_area">
                            <div class = "serchProduct_cont">
                                <a>Фильтр</a>
                                <input type="text" name = "search_product" class = "search_product_input">
                            </div>
                            
                            <div class="tableForChoose">
                                <table class="table_report-area">
                                    <thead class = "order-table_titels">
                                        <tr>
                                            <th>Код продукта</th>
                                            <th>Наименование продукта</th>
                                            <th>Единица измерения</th>
                                            <th style="display:none;">id</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="table_body_container">
                                    <table class="table_report-area">
                                        <tbody id="chooseProdTableBody">
                                            {% for row in dirProduct %}
                                                <tr data-id="{{ row.id }}">
                                                    <td>{{row.CodeProduct}}</td>
                                                    <td style=" text-align: left;">{{row.NameProduct}}</td>
                                                    <td>{{row.unit.NameUnit}}</td>
                                                    <td style="display:none;">{{row.IdProduct}}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr id="noResultsRow" style="display: none;">
                                                <td colspan="3">Нет результатов</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span>[B]</span> ОКЭД</td>
                    <td>
                        <input                 
                            type="text"
                            name="oked"
                            maxlength="5" 
                            autocomplete="off"
                            class="numericInput"
                            id = "add_modal_Oked"
                            required
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>[1]</span> Произведено продукции (выполнено работ, услуг) за отчетный период
                    </td>
                    <td>
                        <input                 
                            type="text"
                            name="produced"
                            value = "0.00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                            id = "add_modal_produced"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>[2]</span> Утвержденная норма на единицу продукции
                    </td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Quota"
                            value = "0.00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                            id = "add_modal_Consumed_Quota"
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[3]</span> Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Fact"
                            value = "0.00"
                            style = "color: rgb(132, 132, 132);"
                            id = "add_modal_Consumed_Fact"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td class = ""><span>[4]</span> Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Quota"
                            value = "0.00"
                            style = "color: rgb(132, 132, 132);"
                            class = "numeric_dotInput"
                            id = "add_modal_Consumed_Total_Quota"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[5]</span> Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Fact"
                            value = "0.00"
                            autocomplete="off"
                            class = "numeric_dotInput"
                            id = "add_modal_Consumed_Total_Fact"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input
                            style = "width: 400px; text-align: left;"          
                            type="text"
                            name="note"
                            autocomplete="off"
                            id = "add_modal_note"
                        >
                        <input                 
                            type="hidden"
                            value = "{{current_version.id}}"
                            name="current_version"
                            readonly
                        >
                        <input                 
                            type="hidden"
                            id = "add_id_product"
                            name="add_id_product"
                            readonly
                        >
                        <input type="hidden" value="1" name="section_number" id="section_number" readonly>
                    </td>
                </tr>
            </table>    
            <button 
                type = "submit" 
                class = "blue_button"
                >Добавить
            </button>              
        </form>   
    </div>
</div>
<div id="DirUnitModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class = "change-position">Единицы измерения</h3>
            <a class="close" id = "CloseDirUnit">&times;</a>
        </div>
        <div class="spravochniki_area">
            <table class="table_report-area">
                <thead class="order-table_titels">
                    <tr>  
                        <th class="resizable" style = "white-space: nowrap;">Код единицы измерения<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap; max-width: 200px;">Название единицы измерения<div class="resizer"></div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dirUnit %}
                    <tr>
                        <td style="text-align: left;">
                            <input type = "text" value = "{{ row.CodeUnit }}" readonly>
                        </td>
                        <td style="text-align: left;">
                            <input type = "text" value = "{{ row.NameUnit }}" readonly>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="DirProductModal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Виды продукции</h3>
            <a class="close" id = "CloseDirProduct">&times;</a>
        </div>
        <div class="spravochniki_area">
            <table class="table_report-area" style = "width: 100%;">
                <thead class="order-table_titels">
                    <tr>
                        <th class="resizable" style = "white-space: nowrap;">Код продукции<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Наименование продукции<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Топливо<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Тепловая<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Электричество<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Код единицы измерения<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Дата начала<div class="resizer"></div></th>
                        <th class="resizable" style = "white-space: nowrap;">Дата окончания<div class="resizer"></div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dirProduct %}
                    <tr>
                        <td>{{ row.CodeProduct }}</td>
                        <td>
                            {{ row.NameProduct }}
                        </td> 
                        <td>
                            <input type="checkbox" name="control" {% if row.IsFuel %} checked {% endif %} disabled>
                        </td>
                        <td>
                            <input type="checkbox" name="control" {% if row.IsHeat %} checked {% endif %} disabled>
                        </td>
                        <td>
                            <input type="checkbox" name="control" {% if row.IsElectro %} checked {% endif %} disabled>
                        </td>
                        <td>{{ row.IdUnit }}</td>
                        <td>
                            {% if row.DateStart %}
                            {{ row.DateStart }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if row.DateEnd %}
                            {{ row.DateEnd }}
                            {% else %}
                        
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="contextmenufuel" class="white-panel">
    <button id = "link_changefuel_modal">
        <span>Редактировать</span>
    </button>
    <button id = "remove_section">
        <span>Удалить</span>
    </button>
</div>
 
<script src="{{ url_for('static', filename='js/section.js') }}"></script>
{% endblock %}