{% extends "base.html" %}
{% block title %}Fuel rep:{{curent_report}}; vers:{{current_version}} {% endblock %}
{% block content %}
<div class = "report-area_page">
    <div class = "report-area_menu">
        <div class="report-area_podmenu">
            <input type="radio" id="tab1" name="tab-group" class = "report-area_menu-input" checked>
            <label for="tab1" class="report-area_menu-name">Панель управления</label> 
            <div class="content-podmenu">
                <nav>
                    <ul>
                        <section>
                            <div class = "functions_menu">
                                <li data-action="link_addfuel_modal">
                                    <img src="{{ url_for('static', filename='img/icon_new_file.png')}}" alt="">
                                    <a></a>
                                </li>
                            </div>
                            <div style = "font-weight: 600;">
                                Действия
                            </div>
                        </section>
                        <section>
                            <div class = "functions_menu">
                                <li class = "active">         
                                    <img src="{{ url_for('static', filename='img/Toplivo.png')}}" alt="">
                                    <a>Топливо</a>   
                                </li>
                                <li >                      
                                    <img src="{{ url_for('static', filename='img/Teplo.png')}}" alt="">
                                    <a>Тепло</a>
                                </li>

                                <li>           
                                    <img src="{{ url_for('static', filename='img/Electro.png')}}" alt="">
                                    <a>Электро</a>   
                                </li>  
                            </div>
                            <div style = "font-weight: 600;">
                                Выбрать раздел
                            </div> 
                        </section>
                        <section>
                            <div class = "functions_menu">                         
                                <li>           
                                    <img src="{{ url_for('static', filename='img/icon_excel.png')}}" alt="">
                                    <a></a>   
                                </li>  
                            </div>
                            <div style = "font-weight: 600;">
                                Экспорт
                            </div>   
                        </section>
                        <section>
                            <div class = "functions_menu">
                                <li>           
                                    <img src="{{ url_for('static', filename='img/icon_sort.png')}}" alt="">
                                    <a></a>   
                                </li> 
                            </div>
                            <div style = "font-weight: 600;">
                                Сортировка 
                            </div>   
                        </section>

                        <section>
                            <div class = "functions_menu">
                                <li>           
                                    <img src="{{ url_for('static', filename='img/icon_control.png')}}" alt="">
                                    <a></a>   
                                </li>  
                            </div>
                            <div style = "font-weight: 600;">
                                Контроль 
                            </div>   
                        </section>
                    </ul>
                </nav>
            </div>
        </div> 
        <div class="report-area_podmenu">
            <input type="radio" id="tab2" name="tab-group" class = "report-area_menu-input">
            <label for="tab2" class="report-area_menu-name">Справка</label>
            <div class="content-podmenu">
                <nav>
                    <ul>
                        <section>
                            <div class="functions_menu">
                                <li id="myUOM">
                                    <img src="{{ url_for('static', filename='img/icon_UOM.png') }}" alt="">
                                    <a>Единицы измерения</a>
                                </li>
                                <li id="myTOP">
                                    <img src="{{ url_for('static', filename='img/icons_TOP.png') }}" alt="">
                                    <a>Виды продукции</a>
                                </li>
                            </div>
                            <div>
                            </div>
                        </section>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class = "rotation-fromareas">
        <nav>
            <ul>
                <li onclick="window.location.href='/report_area'" class = "linkto_report">
                    Отчеты
                </li>
                <li>
                    <img src="{{ url_for('static', filename='img/icon_arroy.png')}}" alt="">
                </li>
                <li>Топливо</li>
            </ul>
        </nav>
    </div>

    <div class = "report-area">
        <table class = "table_report-area">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2" style = "white-space: nowrap;">Наименование вида продукции(работ услуг)</th>
                    <th rowspan="2" style = "white-space: nowrap;">Код строки</th>
                    <th rowspan="2" style = "white-space: nowrap;">Код по ОКЭД</th>
                    <th rowspan="2">Единица измерения</th>
                    <th rowspan="2">Произведено продукции (работ, услуг) за отчетный период</th>
                    <th colspan="2">Израсходовано на единицу продукции (работы, услуги) за отчетный период, кг у.т.</th>
                    <th colspan="3">Израсходовано на всю произведенную продукцию (работу, услугу) за отчетный период, т у.т.</th>
                    <th rowspan="2">Примечание</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th>по утвержденной норме (предельному уровню)</th>
                    <th>фактически</th>
                    <th>по утвержденной норме (предельному уровню)</th>
                    <th>фактически</th>
                    <th>Экономия(-), перерасход(+)</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th></th>
                    <th>A</th>
                    <th>Б</th>
                    <th>В</th>
                    <th>Г</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in sections %}
                <tr class = "fuel_row" data-id="{{ row.id }}" >
                    <td>
                        <input type = "hidden" name = "id_fuel" value = "{{ row.id }}" readonly></td>
                    <td>
                        <input class = "product-name_fuel" type = "text" value = "{{ row.product.NameProduct }}" readonly>
                    </td>
                    <td>
                        <input name = "code_product" value = "{{ row.code_product }}" readonly>
                    </td>
                    <td>
                        <input name = "Oked_fuel" value = "{{ row.Oked }}" readonly>
                    </td>
                    <td> 
                        <input style = "white-space: nowrap; text-align: left;" name = "" value = "{{ row.product.unit.NameUnit }}" readonly>
                    </td> 
                    <td>
                        <input name = "produced_fuel" value = "{{ row.produced }}" readonly>
                    </td>
                    <td>
                        <input name = "Consumed_Quota_fuel" value = "{{ row.Consumed_Quota }}" readonly>
                    </td>
                    <td>
                        <input name = "Consumed_Fact_fuel" value = "{{ row.Consumed_Fact }}" readonly>
                    </td>
                    <td>
                        <input name = "Consumed_Total_Quota_fuel" value = "{{ row.Consumed_Total_Quota }}" readonly>
                    </td>
                    <td>     
                        <input name = "Consumed_Total_Fact_fuel" value = "{{ row.Consumed_Total_Fact }}" readonly>
                    </td>
                    {% if row.total_differents is not none and (row.total_differents < 0.0 or row.total_differents == 0.00) %}
                        <td style="background-color: #a2ff77;">
                            <input style="background-color: #a2ff77; color: black;" name="" value="{{ row.total_differents }}" readonly>
                        </td>
                    {%else%}
                        <td style="background-color: #ff7676;">
                            <input style="background-color: #ff7676; color: black;" name="" value="{{ row.total_differents }}" readonly>
                        </td>
                    {%endif%}
                    <td> 
                        <input name = "note_fuel" value = "{{ row.note }}" readonly>
                    </td>           
                </tr>   
                {%endfor%}
            </tbody>
        </table>        
    </div>
</div>  

<div id="changefuel_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3>Редактирование продукции</h3>
            <a class="close">&times;</a>
        </div>
        <form method="POST" action="/change_fuel">
            <table class="fuel-table_add">

                <tr>
                    <td><span>[A]</span> Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <input type="text" name="product_name" id="modal_product_name" style="width: 400px; text-align: left; color: rgb(132, 132, 132);" autocomplete="off" readonly>
                    </td>
                </tr>
                <tr>
                    <td><span>[B]</span> ОКЭД</td>
                    <td>
                        <input type="text" name="oked" id="modal_oked" maxlength="5" style="color: rgb(132, 132, 132);" autocomplete="off" readonly>
                    </td>
                </tr>
                <tr>
                    <td><span>[1]</span> Произведено продукции (выполнено работ, услуг) за отчетный период</td>
                    <td>
                        <input type="text" name="produced" id="modal_produced" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td><span>[2]</span> Утвержденная норма на единицу продукции</td>
                    <td>
                        <input type="text" name="Consumed_Quota" id="modal_Consumed_Quota" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td><span>[3]</span> Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input type="text" name="Consumed_Fact" id="modal_Consumed_Fact" style="color: rgb(132, 132, 132);" readonly>
                    </td>
                </tr>
                <tr>
                    <td><span>[4]</span> Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input type="text" name="Consumed_Total_Quota" id="modal_Consumed_Total_Quota" style="color: rgb(132, 132, 132);" readonly>
                    </td>
                </tr>
                <tr>
                    <td><span>[5]</span> Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input type="text" name="Consumed_Total_Fact" id="modal_Consumed_Total_Fact" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input style="width: 400px; text-align: left;" type="text" name="note" id="modal_note" autocomplete="off">
                        <input type="hidden" id="modal_id" name="id">
                        <input type="hidden" value="{{ current_version }}" name="current_version">
                    </td>
                </tr>
            </table>
            <button type="submit" class="blue_button fuel-submit">Изменить</button>
        </form> 
    </div>
</div>

<div id="addfuel_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3>Добавить продукцию</h3>
            <a class="close">&times;</a>
        </div>
        <form method="POST" action="/add_fuel_param">
            <table class = "fuel-table_add">
                <tr>
                    <td><span>[A]</span> Наименование вида продукции (работ, услуг)</td>
                    <td>
                        <input type="text" name="name_of_product" style = "width: 400px; text-align: left;" autocomplete="off">
                        <div class="choose-product_area">
                            <table class = "choose-product_table">
                                <thead>
                                    <tr> 
                                        <th>Код продукта</th>
                                        <th>Наименование продукта</th>
                                        <th>Единица измерения</th>
                                    </tr>
                                </thead>
                                <tbody id="chooseProdTableBody"> 
                                {% for row in dirProduct %}
                                    <tr data-id="{{ row.id }}">
                                        <td>{{row.CodeProduct}}</td>
                                        <td style = " text-align: left;">{{row.NameProduct}}</td>
                                        <td>{{row.unit.NameUnit}}</td>
                                    </tr>
                         
                                {% endfor %}           
                                <tr id="noResultsRow" style="display: none;">
                                    <td>Нет результатов</td>        
                                </tr>
                                <tbody>  
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span>[B]</span> ОКЭД</td>
                    <td>
                        <input                 
                            type="text"
                            name="oked"
                            maxlength="5" 
                            autocomplete="off"
                            required
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>[1]</span> Произведено продукции (выполнено работ, услуг) за отчетный период
                    </td>
                    <td>
                        <input                 
                            type="text"
                            name="produced"
                            value = "0.00"
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>[2]</span> Утвержденная норма на единицу продукции
                    </td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Quota"
                            value = "0.00"
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[3]</span> Израсходовано на единицу продукции фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Fact"
                            value = "0.00"
                            style = "color: rgb(132, 132, 132);"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td class = ""><span>[4]</span> Израсходовано на всю производственную продукцию по действующей норме</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Quota"
                            value = "0.00"
                            style = "color: rgb(132, 132, 132);"
                            readonly
                        >
                    </td>
                </tr>
                <tr>
                    <td><span>[5]</span> Израсходовано на всю производственную продукцию фактически</td>
                    <td>
                        <input                 
                            type="text"
                            name="Consumed_Total_Fact"
                            value = "0.00"
                            autocomplete="off"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td>
                        <input
                            style = "width: 400px; text-align: left;"          
                            type="text"
                            name="note"
                            autocomplete="off"
                        >
                        <input                 
                            type="hidden"
                            value = "{{current_version}}"
                            name="current_version"
                        >
                    </td>
                </tr>
            </table>    
            <button 
                type = "submit" 
                class = "blue_button fuel-submit"
                >Добавить
            </button>              
        </form>   
    </div>
</div>

<div id="myModalUOM" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3>Единицы измерения</h3>
            <a class="close">&times;</a>
        </div>
        <div class="spravochniki_area">
            <table class = "table_report-area">
                <thead>
                    <tr>
                        <th>Код единицы измерения</th>
                        <th>Название единицы измерения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dirUnit %}
                    <tr>
                        <td style="text-align: left;">{{ row.CodeUnit }}</td>
                        <td style="text-align: left;">{{ row.NameUnit }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="myModalTOP" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3>Виды продукции</h3>
            <a class="close">&times;</a>
        </div>
        <div class="spravochniki_area">
            <table class="table_report-area">
                <thead>
                    <tr>
                        <th>Код продукции</th>
                        <th>Наименование продукции</th>
                        <th>Топливо</th>
                        <th>Тепловая</th>
                        <th>Электричество</th>
                        <th>Код единицы измерения</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dirProduct %}
                    <tr>
                        <td>{{ row.CodeProduct }}</td>
                        <td style="text-align: left;">{{ row.NameProduct }}</td>
                        <td>
                            <input type="checkbox" name="control" {% if row.IsFuel %} checked {% endif %} disabled>
                        </td>
                        <td>
                            <input type="checkbox" name="control" {% if row.IsHeat %} checked {% endif %} disabled>
                        </td>
                        <td>
                            <input type="checkbox" name="control" {% if row.IsElectro %} checked {% endif %} disabled>
                        </td>
                        <td>{{ row.IdUnit }}</td>
                        <td>
                            {% if row.DateStart %}
                            {{ row.DateStart }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if row.DateEnd %}
                            {{ row.DateEnd }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="contextmenufuel" class="white-panel">
    <button id = "link_changefuel_modal">
        <span>Редактировать</span>
    </button>
    <button id = "remove_fuel">
        <span>Удалить</span>
    </button>
</div>
<script src="{{ url_for('static', filename='js/fuel.js') }}"></script>
{% endblock %}