{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class = "page_log_reg">
    <form class = "log_reg_form" method="POST">
        <div class = "link_cont">
            <a onclick="window.location.href='/login'" style = "margin-right: 19px;">Вход</a>
            <a onclick="window.location.href='/sign'" class = "active">Регистрация</a>
        </div>

        <div class = "registration_data">
            <div class = "persone_data">
                <input
                    id="email"
                    name="email"
                    placeholder="E-mail"
                    />
                <input
                    id="fio"
                    name="fio"
                    placeholder="ФИО"
                />
                <input
                    id="telephone"
                    name="telephone"
                    placeholder="Номер телефона"
                />
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Пароль"
                />
            </div>
            <div class = "organization_data">
                <input
                    id="full_name"
                    name="full_name"
                    placeholder="Предприятие"
                />
                <input
                    id="okpo"
                    name="okpo"
                    placeholder="ОКПО"
                />
                <input
                    id="ynp"
                    name="ynp"
                    placeholder="УНП"
                />
            </div>
        </div>


        <div class = "log_buttons_area">
            <button type="submit" class = "blue_button">Зарегистрироваться</button>
            <div class = "forgot_cont">
                <a onclick="window.location.href='/login'">Есть аккаунт?</a>
            </div>
            <button type="">Продолжить с Google</button>
        </div>
    </form>
</div>
{% endblock %}